# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
/svn-repository/
assets/lib/fullcalendar/examples/

# Grunt
/node_modules/
/assets/admin/src/node_modules/

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
yatra.zip
yatra.tar
