.yatra-calendar-date-listing {

  select.yatra-availability-select-year-month {
    padding: 10px;
    margin-bottom: 10px;
  }

  ul.yatra-calendar-listing {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

    li {
      float: left;
      padding: 5px 5px;
      background: #fff;
      margin: 5px;
      cursor: pointer;
      font-size: 14px;
      border: 1px solid #ddd;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        position: absolute;
        height: 4px;
        background: transparent;
        left: 0;
        bottom: 0;
      }

      &.yatra-availability-booking {

        &:after {
          background: #2f582b;
        }

      }

      &.yatra-availability-enquiry {

        &:after {
          background: #008bb5;
        }

      }

      &.yatra-availability-none {
        cursor: not-allowed;

        &:after {
          background: #aaa;
        }

      }

      &.active {
        background: #eafffb;
      }
    }

    &:after {
      content: "";
      clear: both;
    }
  }
}