.yatra-calendar-date-listing {

  select.yatra-availability-select-year-month {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
  }

  ul.yatra-calendar-listing {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    display: inline-block;
    width: 100%;

    li {
      float: left;
      padding: 5px 5px;
      width: 25%;
      margin: 0;

      span {
        background: #fff;
        margin: 0;
        cursor: pointer;
        font-size: 14px;
        border: 1px solid #ddd;
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;

        &:after {
          content: "";
          width: 100%;
          position: absolute;
          height: 4px;
          background: transparent;
          left: 0;
          bottom: -1px;
        }

        &.yatra-availability-booking {

          &:after {
            background: #2f582b;
          }

        }

        &.yatra-availability-enquiry {

          &:after {
            background: #008bb5;
          }

        }

        &.yatra-availability-none {
          cursor: not-allowed;

          &:after {
            background: #aaa;
          }

        }

        &.active {
          background: #eafffb;
        }
      }


      &:nth-of-type(4n) {
        padding-right: 0;
      }

      &:nth-of-type(4n+1), &:first-child {
        padding-left: 0;

      }
    }

    &:after {
      content: "";
      clear: both;
    }
  }
}