span.yatra-featured-tour {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 6px;
  background: #1abc9c;
  color: #fff;
  -webkit-box-shadow: inset 19px 5px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 19px 5px 20px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  .icon {
    margin-right: 5px;
    font-size: 13px;
    font-style: normal;
  }

  .text {
    font-size: 13px;
  }
}