.yatra-tour-meta {
  line-height: 1.5em;
  display: inline-block;
  width: 100%;

  .icon {
    margin-right: 10px;
    font-style: normal;
  }

  .yatra-cat-links, .yatra-tour-duration {
    line-height: 1.5em;
    padding: 5px 8px;
    margin-bottom: 1px;
    float: left;
    font-size: 15px;
    display: block;
  }
}