.yatra-tour-filter-sidebar {
  .yatra-tour-filter-sidebar-inner {
    padding: 20px 15px;
    border: 1px solid #eee;
    background-color: #fff;

    .yatra-clear-filter {
      cursor: pointer;
      text-decoration: underline;
    }

    .yatra-filter-sidebar-submit {
      float: right;
    }

    .yatra-tour-filter-sidebar-form {
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        clear: both;
      }
    }

    .yatra-filter-sidebar-header {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .07);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h2 {
        margin: 0;
        font-size: 20px;
      }
    }

    .yatra-sidebar-filter-field {
      .yatra-sidebar-filter-section-title {
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
        position: relative;
        font-size: 17px;
      }

      ul li ul {
        margin: 0px 0px 0px 20px;
        padding: 0;
      }

      ul.yatra-terms-more-list {
        margin: 0;
        padding: 0;
      }

      ul.yatra-terms-list {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin: 0;
          padding: 0;

          .yatra-filter-term-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;


            label {
              font-size: 14px;
              font-weight: normal;
              cursor: pointer;
              margin: 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            input.yatra-filter-item {
              display: none !important;

              &:checked + .yatra-filter-term-name {
                &:before {
                  border: 1px solid;
                  font-family: "Font Awesome 5 Free" !important;
                  font-weight: 900;
                  content: "\f00c";
                  line-height: 16px;
                  text-align: center;
                  font-size: 13px;
                }
              }
            }

            .yatra-filter-term-name {
              padding-left: 30px;
              position: relative;

              &:before {
                content: "";
                height: 18px;
                width: 18px;
                border-radius: 3px;
                border: 1px solid #aaa;
                position: absolute;
                left: 0px;
                padding: 0px;
                top: 50%;
                transform: translateY(-50%);
              }

            }

            span.count {
              margin-left: 10px;
            }


          }

          span.show-more, span.show-less {
            text-decoration: none;
            color: #1abc9c;

            .icon {
              margin-left: 10px;
            }

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          &.yatra-terms-more {
            ul {
              display: none;
            }

            .show-less {
              display: none;


            }
          }
        }
      }
    }

    .yatra-sidebar-filter-field {
      &:not(:last-child) {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .07);
      }

      &.price, &.days {
        .slider-content {
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          font-weight: 600;
        }

        #yatra-price-slider, #yatra-days-slider {
          border-radius: 0;
          height: 2px;
          border: none;
          background: rgba(26, 188, 156, 0.3);
          margin: 45px 10px 0;

          .ui-slider-range {
            height: 2px;
            border: none;
            background: #1abc9c;
          }
        }

        .yatra-slider-wrap {
          .ui-slider .ui-slider-handle {
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: #1abc9c;
            margin-top: -3px;

            &:focus {
              border: none;
              outline: none;
            }

            &:before {
              content: attr(data-value);
              font-size: 10px;
              letter-spacing: 1.5px;
              line-height: 1;
              color: #fff;
              background-color: #1abc9c;
              padding: 3px 8px;
              border-radius: 3px;
              position: absolute;
              bottom: 100%;
              margin-bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              visibility: hidden;
              opacity: 0;
              transition: all .2s ease;
              white-space: nowrap;
            }

            &:after {
              content: "";
              border: 4px solid transparent;
              border-top: 6px solid #1abc9c;
              position: absolute;
              left: 50%;
              bottom: 100%;
              transform: translateX(-50%);
              visibility: hidden;
              opacity: 0;
              transition: all .2s ease;
            }

            &.visible {
              &:before, &:after {
                opacity: 1;
                visibility: visible;
              }
            }

          }
        }
      }

    }
  }

}