.yatra-tour-filter-sidebar {
  .yatra-tour-filter-sidebar-inner {
    padding: 24px 16px;
    border: 1px solid #eee;
    background-color: #fff;

    .yatra-filter-sidebar-header {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, .07);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .yatra-sidebar-search-field {
      .yatra-sidebar-filter-section-title {
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
        position: relative;
      }

      ul li ul {
        margin: 15px 0px 15px 20px;
      }

      ul.yatra-terms-more-list {
        margin: 0;
      }

      ul.yatra-terms-list {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin-bottom: 15px;

          label {
            padding-right: 30px;
            font-size: 14px;
            font-weight: normal;
            cursor: pointer;
          }

          input.yatra-filter-item {
            display: none;

            &:checked + .yatra-filter-term-name {
              &:before {
                border: 1px solid;
                font-family: "Font Awesome 5 Free" !important;
                font-weight: 900;
                content: "\f00c";
                line-height: 100%;
                text-align: center;
                font-size: 13px;
              }
            }
          }

          .yatra-filter-term-name {
            padding-left: 25px;
            position: relative;

            &:before {
              content: "";
              height: 18px;
              width: 18px;
              border-radius: 3px;
              border: 1px solid #ddd;
              position: absolute;
              top: -1px;
              left: 0;
              -webkit-transition: all ease .2s;
              -o-transition: all ease .2s;
              -moz-transition: all ease .2s;
              transition: all ease .2s;
              padding: 2px;
            }


          }

          span.count {
            float: right;
          }

          span.show-more, span.show-less {
            text-decoration: none;
            color: #1abc9c;

            .icon {
              margin-left: 10px;
            }

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          &.yatra-terms-more {
            ul {
              display: none;
            }

            .show-less {
              display: none;


            }
          }
        }
      }
    }
  }
}