.yatra-page-wrapper {
  &.yatra-tour-archive-display-mode-grid {
    .yatra-tour-single-item {
      margin-bottom: 10px;

      .yatra-tour-single-item-inner {
        position: relative;
        background-color: #fff;
        border: 1px solid #eee;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        @import "../parts/featured-ribon";

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .yatra-thumb-wrap {

          .inner {
            padding: 0 0 10px 0;

            figure {
              margin: 0;

              img {
                width: 100%;
              }
            }
          }
        }


        .yatra-tour-content {
          padding: 10px 0;

          p {
            margin: 0;
          }
        }

        .yatra-tour-header {
          margin: 0;
        }

        del {
          color: #aaa;
        }

        .yatra-content-wrap {

          .yatra-content-left {

            width: 100%;
            display: block;
            border-bottom: 1px solid #ddd;
          }

          .yatra-content-right {

            width: 100%;
            display: block;
            margin-top: 15px;


            .yatra-tour-details {
              text-align: center;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 25px;

              p {
                margin: 0;
              }

              @import "../parts/price";
            }
          }

          .inner {
            padding: 0 20px;
          }

        }

        .yatra-meta-content-wrap {
          @import "../parts/tour-meta";

          .inner {
            padding: 0;
          }
        }

      }

    }
  }
}