.yatra-page-wrapper {
  &.yatra-tour-archive-display-mode-list {
    .yatra-archive-tour {
      .yatra-tour-single-item {
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        border: 1px solid #eee;
        margin-bottom: 30px;

        span.yatra-featured-tour {
          position: absolute;
          top: -1px;
          left: -1px;
          padding: 0 5px;
          background: #1abc9c;
          color: #fff;

          font-weight: 500;


          box-shadow: 19px 5px 20px 1px rgba(0, 0, 0, 0.3);
          border-radius: 0;

          .icon {
            margin-right: 5px;
          }

          .text {
            font-size: 12px;
            font-weight:600;
          }
        }

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .yatra-thumb-wrap {
          width: 33.33%;
          float: left;

          .inner {
            padding-right: 0;

            figure {
              margin: 0;
            }
          }
        }


        .yatra-tour-content {
          padding: 10px 0;

          p {
            margin: 0;
          }
        }

        .yatra-tour-meta, .yatra-tour-header {
          margin: 0;

        }

        del {
          color: #aaa;
        }

        .yatra-content-wrap {

          width: 66.67%;
          float: left;

          .yatra-content-left {
            width: 70%;
            float: left;
            padding: 0 10px 0px 10px;
            border-right: 1px solid #ddd;
          }

          .yatra-content-right {
            width: 30%;
            float: right;
            text-align: center;

            .yatra-tour-details {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              .yatra-tour-price {
                .regular-price {
                  display: block;
                }

                .sales-price {
                  font-size: 18px;
                  font-weight: 600;
                }
              }
            }
          }

          .inner {
            display: flex;
            justify-content: space-between;
            height: 100%;
          }

        }

        .yatra-meta-content-wrap {


          ul {
            display: inline-block;
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              line-height: 1.5em;
              padding: 5px 8px;
              margin-bottom: 1px;
              float: left;
              font-size: 14px;

              .icon {
                margin-right: 10px;
              }
            }
          }

          .inner {
            padding: 0;
          }
        }

        .inner {
          padding: 15px;
          display: inline-block;
        }
      }
    }
  }
}