.yatra-page-wrapper {
  &.yatra-tour-archive-display-mode-list {


    .yatra-archive-tour {
      .yatra-tour-single-item {
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        border: 1px solid #eee;
        margin-bottom: 30px;

        .yatra-tour-single-item-inner {
          width: 100%;
        }

        @import "../parts/featured-ribon";

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .yatra-thumb-wrap {
          width: 33.33%;
          float: left;

          .inner {
            padding-right: 0;

            figure {
              margin: 0;
            }
          }
        }


        .yatra-tour-content {
          padding: 10px 0;

          p {
            margin: 0;
          }
        }

        .yatra-tour-header {
          margin: 0;

        }

        del {
          color: #aaa;
        }

        .yatra-content-wrap {

          width: 66.67%;
          float: left;

          .yatra-content-left {
            width: 70%;
            float: left;
            padding: 0 10px 0px 10px;
            border-right: 1px solid #ddd;
          }

          .yatra-content-right {
            width: 30%;
            float: right;
            text-align: center;

            .yatra-tour-details {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 25px;

              p {
                margin: 0;
              }

              @import "../parts/price";
            }
          }

          .inner {
            display: flex;
            justify-content: space-between;
            height: 100%;
          }

        }

        .yatra-meta-content-wrap {
          @import "../parts/tour-meta";

          .inner {
            padding: 0;
          }
        }

        .inner {
          padding: 15px;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .yatra-page-wrapper {
    &.yatra-tour-archive-display-mode-list {
      .yatra-archive-tour {
        .yatra-tour-single-item {
          .yatra-thumb-wrap {
            width: 100%;
            float: none;

            .inner {
              padding: 0;
            }
          }

          .yatra-content-wrap {
            width: 100%;
            float: none;

            .inner {
              display: block;
            }

            .yatra-content-left, .yatra-content-right {
              float: none;
              width: 100%;
              border: none;
            }

            .yatra-content-left {
              border-bottom: 1px solid #ddd;
            }
          }
        }
      }
    }
  }
}