.yatra-tour-filter-top {
  .yatra-tour-filter-top-inner {
    padding: 20px 15px;
    border: 1px solid #eee;
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .yatra-top-filter-section {
      padding: 0px 20px;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: 0;
      }
    }

    ul.yatra-top-filter-display-list {
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style: none;
        padding: 5px 10px;

        &:first-child {
          padding-left: 0;
        }

        a {
          border: none;
          &:focus, &:active {
            outline: none !important;
            text-decoration: none !important;
            border: none;
          }
        }

        a, .icon {
          outline: none;
          font-size: 20px;
          cursor: pointer;
          color: #aaa;
        }

        &.selected {
          .icon {
            color: #000;
          }
        }
      }
    }

    .yatra-top-filter-sorting-by {
      font-size: 15px;
      padding: 5px 30px 5px 10px;
      background: #fff;
    }

    form.yatra-topbar-filter-order-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: 490px) {
  .yatra-tour-filter-top {
    .yatra-tour-filter-top-inner {
      flex-direction: column;

      .yatra-top-filter-section {
        border: none;

        &.display {
          margin-top: 20px;
          border-top: 1px solid #ddd;
          padding: 10px 0;
        }

        &.sorting {
          label {
            display: none;
          }
        }
      }

      .yatra-top-filter-sorting-by {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}