.yatra-tour-filter-top {
  .yatra-tour-filter-top-inner {
    padding: 20px 15px;
    border: 1px solid #eee;
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .yatra-top-filter-section {
      padding: 0px 20px;
      border-right: 1px solid #ddd;

      &:last-child {
        border-right: 0;
      }
    }

    ul.yatra-top-filter-display-list {
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style: none;
        padding: 5px 10px;

        &:first-child {
          padding-left: 0;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
          color: #aaa;
        }

        &.selected {
          .icon {
            color: #000;
          }
        }
      }
    }

    .yatra-top-filter-sorting-by {
      font-size: 15px;
      padding: 5px 10px;
      min-width: 150px;
    }
  }
}