.yatra-page-wrapper {

  .yatra-archive-tour {
    display: inline-block;

    .yatra-archive-main-content-area {
     }

    &:after {
      content: "";
      display: inline-block;
      clear: both;
    }
  }
}

@import "archive/advance-filter";
@import "archive/top-filter";
@import "archive/list-style";
@import "archive/grid-style";