.yatra-page-wrapper {

  .yatra-archive-tour {
    display: inline-block;
    width: 100%;
    max-width: 100%;

    &:after {
      content: "";
      display: inline-block;
      clear: both;
    }
    .yatra-page-header {
      padding: 15px 0;
    }
  }

  .tour-thumbnail-inner {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@import "archive/advance-filter";
@import "archive/top-filter";
@import "archive/list-style";
@import "archive/grid-style";