.yatra-page-wrapper {
  &.template-default {
    .yatra-archive-tour {
      .yatra-tour-single-item {
        position: relative;
        background-color: #fff;
        -webkit-box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
        -moz-box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
        box-shadow: 0 0 30px 0 rgba(33, 30, 25, .1);
        display: block;
        border: 1px solid #eee;
        margin-bottom: 30px;
        padding: 15px;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        .yatra-thumb-wrap {
          width: 33.33%;
          float: left;

          .inner {
            padding: 0;
          }
        }

        .entry-meta, .entry-header {
          margin: 0;
        }

        .yatra-content-wrap {

          width: 66.67%;
          float: left;

          .yatra-content-left {
            width: 70%;
            float: left;
            padding: 0 10px 0px 10px;
          }

          .yatra-content-right {
            width: 30%;
            float: right;
            text-align: center;
          }

        }

        .yatra-meta-content-wrap {
          margin-top: 20px;

          ul {
            display: inline-block;
            margin: 0;
            padding: 0;

            li {
              list-style: none;
              line-height: 1.5em;
              padding: 8px;
              margin-bottom: 1px;
              float: left;

              .icon {
                margin-right: 10px;
              }
            }
          }

          .inner {
            padding: 0;
          }
        }

        .inner {
          padding: 15px;
          display: inline-block;
        }
      }
    }
  }
}