.yatra-shortcode-wrapper {
  max-width: 100%;
  margin: 0 auto !important;
  display: block;
  width: 100%;
  min-height: 1px;

  &:after {
    content: "";
    clear: both;
    display: block;
  }

  .yatra_cart_table {
    text-align: center;

    td, th {
      text-align: center;
    }

    td.tour-person {
      text-align: left;
    }
  }

  form.yatra-cart-form {
    position: relative;

    .person {
      input {

      }
    }

    tr.yatra-cart-item td {
      padding: 5px 0;
    }

    .actions {
      text-align: right;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-left: 0;
      border-right: 0;

      .coupon {
        float: left;
        display: flex;

        input, button {
          flex: 1;
          margin: 0;
          border-radius: 0;
        }
      }
    }

  }

  .yatra-proceed-to-checkout-wrap {
    text-align: right;
    margin-top: 15px;

  }
}

.yatra-tour-cart-edit-form-fields {
  display: block;
  width: 100%;

  .yatra-traveller-info-wrap {
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;

    .yatra-traveller-number {
      display: flex;
      position: relative;
      width: 50%;


      span {
        font-weight: 500;
        font-size: 14px;
      }

      .yatra-traveller-number-inner {
        width: 100px;
        height: 35px;
        border-radius: 0px;
        margin-right: 18px;

        input {
          height: 100%;
          margin: 0;
          border: none;
          padding: 0 10px;
          background: #fff;
        }
      }
    }

    .yatra-traveller-price {

      width: 30%;

      ins {
        font-weight: 500;
      }

      span {
        display: block;
        font-size: 12px;
        color: #5e6d77;
      }
    }

    .yatra-traveller-total-price {

      width: 20%;
    }

  }

  .yatra-form-fields:last-child {
    .yatra-traveller-info-wrap {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.yatra-checkout-button-wrap {
  text-align: right;
  padding: 15px 0;
}