.yatra-shortcode-wrapper {
  form.yatra-cart-form {
    position: relative;

    .person {
      input {

      }
    }

    .actions {
      text-align: right;
    }

    .button.yatra-proceed-to-checkout, .button.yatra_update_cart {
      float: right;
      padding: 10px;
      background: #1abc9c;
      color: #fff;
      border: 1px solid #1abc9c;

      &:hover {
        background: #fff;
        color: #1abc9c !important;
      }
    }
  }
}

#yatra-tour-cart-edit-form-fields {
  display: block;
  width: 100%;

  .yatra-traveler-info-wrap {
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;

    .yatra-traveler-number {
      display: flex;
      position: relative;
      padding-right: 20px;


      span {
        font-weight: 500;
        font-size: 14px;
      }

      .yatra-traveler-number-inner {
        width: 100px;
        height: 35px;
        border-radius: 0px;
        margin-right: 18px;

        input {
          height: 100%;
          margin: 0;
          border: none;
          padding: 0 10px;
        }
      }
    }

    .yatra-traveler-price {

      text-align: center;
      flex: 1;

      ins {
        font-weight: 500;
      }

      span {
        display: block;
        font-size: 12px;
      }
    }

  }

  .yatra-form-fields:last-child {
    .yatra-traveler-info-wrap {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}