.yatra-checkout-page-wrap {
  form.yatra-checkout-form {
    label {
      display: block;
      padding: 5px 0;
      margin: 0;
    }

    .yatra-field-wrap {
      p {
        margin: 0 !important;
        padding-left: 0 !important;
        padding-right: 10px !important;
      }

      input, select {
        width: 100%;
        -webkit-appearance: none;
        color: #4a5568;
        border: 1px solid #cbd5e0;
        border-radius: 3px;
        padding: 0.4em 0.5em;
        max-width: 100%;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.4em 0.5em;
        color: #4a5568;

      }

      .select2-container--default .select2-selection--single {
        height: auto;
        border: 1px solid #cbd5e0;
        border-radius: 3px;
        color: #4a5568;

      }
    }


    .yatra-checkout-review-tour-book-table {
      text-align: center;
      padding: 10px;
    }


  }

  .select2-container {
    max-width: 100%;
  }

  .yatra-privacy-policy-agreement, .yatra-terms-agreement {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 15px;

    label {
      cursor: pointer;
    }

    input[type="checkbox"] {
      height: 18px;
      width: 18px;
      margin: 0;
      padding: 0;
    }
  }

  .yatra-form {
    padding: 15px 0;

    .yatra-field-wrap {
      margin-bottom: 10px;

      p {
        padding: 0;
      }

      label {
        display: block;
        font-weight: 600;
        margin-top: 10px

      }

      input[type="text"], input[type="password"], input[type="email"] {
        width: 100%;
      }
    }

    .yatra-checkout-review-tour-book {
      border: 1px solid #ddd;
      background: #fff;
    }
  }

  .yatra-checkout-login-registration-wrap, .yatra-checkout-form-inner {
    width: 100%;
    background: #f7fafc;
    border: 1px solid #ddd;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}