.yatra-account-messages {
  list-style: square;
  margin: 0;
  padding: 0;
}

.yatra-info, .yatra-success, .yatra-warning, .yatra-error, .yatra-validation {
  border: 1px solid;
  margin: 10px 0px!important;
  padding: 10px 15px 10px 25px!important;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: left;

  ul {
    margin: 0 !important;
    padding: 0 !important;

    li {
      margin: 0;
      padding: 0;
      list-style: disc!important;
      font-size: 15px;
      font-weight: normal;
    }
  }
}

.yatra-info {
  color: #00529B;
  background-color: #BDE5F8;
}

.yatra-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.yatra-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.yatra-error {
  color: #D8000C;
  background-color: #FFBABA;
}

.yatra-validation {
  color: #D63301;
  background-color: #FFCCBA;
}