.yatra-nice-input-number {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nice-button {
    background: none !important;
    border: none;
    color: #000 !important;
    height: 35px;
    width: 30px;
    border: 1px solid #aaa !important;
    border-radius: 0;
    position: relative;
    font-size: 17px;
    font-weight: 900;
    margin: 0;
    padding: 0 !important;
    line-height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 35px;
    background:#fff!important;

    &:focus, &:hover {
      outline: none !important;
    }

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 35px;
    }

    &:hover {
      border-color: #000 !important;
    }

    .icon {
      font-weight: 900 !important;
    }

    &:hover, &:focus, &:active {
      box-shadow: none;
    }


  }

  input[type="number"] {
    width: 40px !important;
    min-width: 40px !important;
    height: 35px !important;
    min-height: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: 18px;
    border-top: 1px solid #aaa !important;
    border-bottom: 1px solid #aaa !important;
    border-radius: 0;
    background: #fff !important;
    color: #000 !important;

    &:focus, &:hover {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      outline: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }
}