.yatra-hide {
  display: none !important;
}

body.single {
  .yatra-single-tour {
    .yatra-site-main {
      @import "parts/tour-meta";
    }

    .yatra-tour-info {
      display: block;

      .yatra-tour-info-inner {

        background: #f5f5f5;
      }

    }

    &:after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .tour-thumbnail-inner {
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }

  figure {
    margin: 0;

    img {
      max-width: 100%;
    }
  }
}

.yatra-tour-additional-info {
  padding: 0;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  border-right: 0;

  .yatra-tour-additional-info-item {
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    border-right: 1px solid #ddd;
    text-align: center;
    background: #fff;

    position: relative;

    .question {
      position: absolute;
      top: 2px;
      right: 2px;
      color: #aaa;
    }

    .icon-wrap {
      font-size: 30px;
      color: #1abc9c;
    }

    .info-title {
      color: #1a2b48;
      margin: 0 0 3px;
      font-weight: bold;
    }

    .info-content {
      color: #5e6d77;
      margin: 10px 0 0 0;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

#yatra-tour-booking-form-fields {
  display: block;
  width: 100%;

  .yatra-traveller-info-wrap {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .yatra-traveller-number {
      flex: 1;
      position: relative;
      padding-right: 20px;
      display: flex;
      flex: initial;
      align-items: center;


      .yatra-traveller-number-inner {
        margin-right: 10px;
      }
    }

    .yatra-traveller-price {

      text-align: right;
      flex: 1;

      ins {
        background: none;
        color: #000;
        font-weight: 500;
      }

      span {
        display: block;
        font-size: 12px;
        color: #5e6d77;
      }
    }


  }

  .yatra-form-fields:last-child {
    .yatra-traveller-info-wrap {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
}

.yatra-tour-attribute-info {
  padding: 0;
  margin: 15px 0;

  .yatra-tour-additional-text-number {


    text-align: center;
    margin-bottom: 20px;

    .yatra-attribute-item {
      flex: 0 0 25%;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: 1px solid #ddd;
      display: flex;
      flex-direction: column;
      margin-left: -1px;
      padding: 10px;

      .attribute-icon {
        font-size: 30px;
        color: #1abc9c;
      }

      .attribute-title, .attribute-content, .attribute-icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        margin-top: 5px;
      }

    }
  }

  .attribute-icon, .attribute-title {
    margin-right: 10px;
  }

  .attribute-title {
    color: #1a2b48;
    font-weight: bold;
  }

  .attribute-content {
    color: #5e6d77;
  }

  .yatra-attribute-item {
    &.type-shortcode {

    }
  }
}

.day.yatra-availability-booking {

  border: 1px solid #2f582b !important;
  border-bottom: 5px solid #2f582b !important;
}

.day.yatra-availability-enquiry {

  border: 2px solid #008bb5 !important;
  border-bottom: 5px solid #008bb5 !important;
}

.day.yatra-availability-none {
  border: 2px solid #aaa !important;
  border-bottom: 5px solid #aaa !important;
  cursor: not-allowed;
}

.yatra-loading {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9;
    padding: 0px;
  }
}

.yatra-tour-enquiry-form-wrap {
  label {
    display: block;
    margin: 0;
    text-align: left;
  }

  p {
    margin: 0;
    margin-bottom: 15px;
  }

  .yatra-field-wrap {
    width: 100%;
    display: inline-block;
    position: relative;
  }

  input[type="text"], input[type="number"], input[type="email"], select, textarea {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px !important;
    border-color: #ddd;
    border-radius: 0;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 0;
    border-color: #ddd;
    height: 45px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    right: 6px;
  }

  .yatra-privacy-policy-agreement, .yatra-terms-agreement {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    input[type="checkbox"] {
      height: 18px;
      width: 18px;
      margin: 0;
      padding: 0;
    }

    a {
      font-size: 13px;
    }

    label {
      cursor: pointer;
      font-size: 15px;
    }
  }
}

#yatra-tour-enquiry-form-fields fieldset {
  width: 100%;
  max-width: 100%;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
}

.yatra-booking-calendar-choosen-date {
  border: none !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 30px !important;
  text-align: center;
  margin-bottom: 21px !important;
  border-bottom: 1px solid #ddd !important;
  padding-bottom: 10px !important;

}

.yatra-tour-info-pricing-wrap {

  border: 1px solid #ddd;
  padding: 0;
  border-bottom: none;
  border-top: 4px solid #1abc9c;

  .tour-info-pricing-header {
    padding: 10px 15px;
    background: #dffff9;

    h2 {
      font-weight: 500;
      font-size: 25px;
      text-align: center;
      margin: 0;
      color: #000;
    }
  }

  .tour-info-pricing-content {
    border-top: 1px solid #ddd;
    padding: 20px;
    background: #fff;

    p {
      font-size: 20px;
      text-align: center;
      color: #1abc9c;
    }
  }

}

.yatra-single-meta-content {
  margin-top: 20px;
}

.yatra-tour-total-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
}

.yatra-tour-booking-form-section ul.yatra-calendar-booking-indicator-lists {
  display: flex;
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li {
  position: relative;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  width: 33.33%;

  span {
    display: none;
  }
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li.active:before {

  background-color: #4cb111;
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li.booking:before {
  background-color: #2f582b;
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li.enquery:before {
  background-color: #008bb5;
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li.not-available:before {
  background-color: #aaa;
}

.yatra-tour-booking-form-section .yatra-calendar-booking-indicator-lists li:before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #ddd;
  margin: 0px;
}

.yatra-tour-booking-pricing-wrap {
  margin-top: 10px;
}

@import "parts/calendar-date-listing";