.yatra-tabs {

}

.yatra-tabs section.yatra-tab-content {
  .tab-inner {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #000;

    &:focus {
      outline: none;
    }
  }
}

.yatra-tabs {
  background: #fff;

  & > ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    font-size: 0;
    background: #eafffb;
    border-bottom: none;
  }

}

.yatra-tabs > ul .indicator {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background: #1E88E5;
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease;
}

.yatra-tabs > ul li {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.yatra-tabs > ul li a {
  display: block;
  position: relative;
  padding: 12px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #343434;
  border-right: 1px solid #ddd;
  text-transform: uppercase;

}

.yatra-tabs > ul li a:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none;
}

.yatra-tabs > ul li a[data-aria-selected],
.yatra-tabs > ul li a:hover,
.yatra-tabs > ul li.active a,
.yatra-tabs > ul li.active:hover a,
.yatra-tabs > ul li a:hover {
  color: #1abc9c;
  background: #fff;

}

.yatra-tabs {
  ul.yatra-tab-wrap {
    li.item {
      & > a {
        .fa, svg, .icon {
          margin-right: 10px;
        }
      }
    }
  }
}

.yatra-tabs > ul li a[data-aria-selected]:before {
  /*-webkit-transform: translateZ(0) translateY(0);
  transform: translateZ(0) translateY(0);*/
}

.yatra-tabs > section[aria-hidden="true"] {
  display: none;
}

.yatra-tabs section.yatra-tab-content {

  h3.tab-title {
    .fa, svg {
      float: right;
      cursor: pointer;
    }
  }
}

.yatra-field-wrap p {
  padding-left: 10px;
  padding-right: 10px;
}

.yatra-tab-content:after {
  clear: both;
  content: "";
  display: block;
}

.yatra-tab-content label {
  font-weight: bold;
  font-size: 14px;
}

.yatra-tab-content .select2 {
  width: 100% !important;
}

.yatra-tab-content input,
.yatra-tab-content input[type="text"],
.yatra-tab-content input[type="number"],
.yatra-tab-content select,
.yatra-tab-content textarea
.yatra-tab-content .widefat {
  font-size: 14px;
  height: auto;
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #000;
  margin-top: 5px;
}

@media (min-width: 600px) {

  .yatra-right {
    float: right;
    width: 49%;
    max-width: 49%;
  }

  .yatra-left {
    float: left;
    width: 49%;
    max-width: 49%;
  }

  .yatra-field-row:after {
    clear: both;
    content: "";
    display: block;
  }

  .yatra-field-row {
    display: block;
  }
}

.yatra-tabs {
  &.heading-and-content {
    .yatra-tab-item {
      display: block;

      .yatra-tab-content {
        padding: 15px 0;

        .tab-title {
          padding: 5px 5px 10px 5px;

          .icon {
            float: right;
            cursor: pointer;
          }
        }

        .cost-info-half li {
          line-height: unset;
        }
      }
    }
  }
}