.yatra-tabs section.yatra-tab-content {
  padding: 15px;
  background: #f5f5f5;
  margin-top: 10px;
  border-top: 1px solid #ddd; }
  .yatra-tabs section.yatra-tab-content .tab-inner {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd; }
    .yatra-tabs section.yatra-tab-content .tab-inner:focus {
      outline: none; }

.yatra-tabs > ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #1abc9c;
  font-size: 0;
  background: #1abc9c; }

.yatra-tabs > ul .indicator {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background: #1E88E5;
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease; }

.yatra-tabs > ul li {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0; }

.yatra-tabs > ul li a {
  display: block;
  position: relative;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-right: 1px solid #00bc7c; }

.yatra-tabs > ul li a:focus {
  text-shadow: none;
  box-shadow: none;
  outline: none; }

.yatra-tabs > ul li:last-child a {
  border-right: 0; }

.yatra-tabs > ul li a[data-aria-selected],
.yatra-tabs > ul li a:hover,
.yatra-tabs > ul li.active a,
.yatra-tabs > ul li.active:hover a,
.yatra-tabs > ul li a:hover {
  color: #1abc9c;
  background: #fff; }

.yatra-tabs ul.yatra-tab-wrap li.item > a .fa {
  margin-right: 10px; }

.yatra-tabs > ul li a[data-aria-selected]:before {
  /*-webkit-transform: translateZ(0) translateY(0);
  transform: translateZ(0) translateY(0);*/ }

.yatra-tabs > section[aria-hidden="true"] {
  display: none; }

.yatra-tabs section.yatra-tab-content {
  padding: 15px; }

.yatra-field-wrap p {
  padding-left: 10px;
  padding-right: 10px; }

.yatra-tab-content:after {
  clear: both;
  content: "";
  display: block; }

.yatra-tab-content label {
  font-weight: bold;
  font-size: 14px; }

.yatra-tab-content .select2 {
  width: 100% !important; }

.yatra-tab-content input,
.yatra-tab-content input[type="text"],
.yatra-tab-content input[type="number"],
.yatra-tab-content select,
.yatra-tab-content textarea
.yatra-tab-content .widefat {
  font-size: 14px;
  height: auto;
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #000;
  margin-top: 5px; }

@media (min-width: 600px) {
  .yatra-right {
    float: right;
    width: 49%;
    max-width: 49%; }
  .yatra-left {
    float: left;
    width: 49%;
    max-width: 49%; }
  .yatra-field-row:after {
    clear: both;
    content: "";
    display: block; }
  .yatra-field-row {
    display: block; } }

.yatra-book-btn-wrapper {
  text-align: center; }

.yatra-content-area header {
  margin-bottom: 30px; }

.yatra-content-area .page-title, .yatra-content-area .entry-title {
  line-height: 1.2;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.yatra-content-area .yatra-book-now-btn {
  line-height: 1.5em;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 0;
  background: none;
  border: 2px solid #777;
  background: #767575; }
  .yatra-content-area .yatra-book-now-btn:hover {
    background: #fff;
    color: #777; }

.yatra-page-wrapper.template-default article {
  position: relative;
  margin-bottom: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
  -moz-box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
  box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
  display: block; }
  .yatra-page-wrapper.template-default article:after {
    content: "";
    display: block;
    clear: both; }
  .yatra-page-wrapper.template-default article .thumb-wrap {
    width: 33.33%;
    float: left; }
  .yatra-page-wrapper.template-default article .content-wrap {
    width: 41.67%;
    float: left; }
  .yatra-page-wrapper.template-default article .meta-content-wrap {
    width: 25%;
    float: left; }
    .yatra-page-wrapper.template-default article .meta-content-wrap ul li {
      list-style: none;
      line-height: 1.5em;
      background: #f9f9f9;
      padding: 8px;
      border: 1px solid #ddd;
      margin-bottom: 1px; }
  .yatra-page-wrapper.template-default article .inner {
    padding: 15px; }

.yatra-page-wrapper .nav-links .meta-nav {
  display: none; }

.yatra-page-wrapper .nav-links .nav-previous {
  width: 50%;
  float: left; }

.yatra-page-wrapper .nav-links .nav-next {
  width: 50%;
  text-align: right;
  float: right; }

.yatra-page-wrapper .nav-links .nav-previous a:before {
  content: "\f0d9";
  font-family: FontAwesome;
  font-style: normal;
  margin-right: 5px; }

.yatra-page-wrapper .nav-links .nav-next a:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  margin-left: 5px;
  position: absolute;
  right: 10px; }

.yatra-page-wrapper .nav-links .nav-previous {
  float: left;
  width: 25%; }

.yatra-page-wrapper .nav-links .nav-next {
  width: 25%;
  float: right; }
  .yatra-page-wrapper .nav-links .nav-next a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 20px; }

.yatra-page-wrapper .nav-links .nav-previous a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.yatra-page-wrapper .navigation.pagination {
  padding: 0 0 30px; }

.yatra-page-wrapper .navigation .nav-links a,
.yatra-page-wrapper .navigation .nav-links span.current,
.yatra-page-wrapper .navigation .nav-links span.dots,
.yatra-page-wrapper .bttn, .yatra-page-wrapper button {
  background: blue;
  color: #ffffff;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  font-size: 14px;
  line-height: 13px;
  height: 33px;
  padding: 10px 15px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-shadow: none;
  border: 1px solid blue; }

.yatra-page-wrapper .navigation .nav-links span.current,
.yatra-page-wrapper .navigation .nav-links span.dots {
  color: inherit;
  background: inherit;
  padding: 10px 12px; }

.yatra-tabs .row {
  margin-left: 0;
  margin-right: 0; }

.yatra-tabs .yatra-tab-content ul, .yatra-tabs .yatra-tab-content ol {
  margin: 0;
  padding: 0; }
  .yatra-tabs .yatra-tab-content ul li, .yatra-tabs .yatra-tab-content ol li {
    list-style: none; }

.yatra-tabs .yatra-tab-content .cost-info-half {
  width: 50%;
  float: left;
  padding: 15px;
  padding-top: 0; }
  .yatra-tabs .yatra-tab-content .cost-info-half li {
    padding-bottom: 10px;
    list-style-type: none;
    position: relative;
    padding: 0 0 0 25px;
    line-height: 18px;
    color: #555542;
    margin: 5px 0 15px; }
    .yatra-tabs .yatra-tab-content .cost-info-half li:before {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 13px;
      left: 0;
      top: 4px; }
  .yatra-tabs .yatra-tab-content .cost-info-half.cost_included li:before {
    content: "\f00c";
    color: #21769b; }
  .yatra-tabs .yatra-tab-content .cost-info-half.cost_excluded li:before {
    content: "\f00d";
    color: #ed7701; }
  .yatra-tabs .yatra-tab-content .cost-info-half h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    /* background: #d77b5d; */
    color: #ef805c;
    border-bottom: 2px solid #ef805c;
    margin-bottom: 20px; }

.yatra-tabs .yatra-tab-content .tab-inner:after {
  clear: both;
  content: "";
  display: block; }

.sec-row {
  margin-left: -7.5px;
  margin-right: -7.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  color: #000; }

.col-half {
  width: calc(50% - 15px);
  padding: 10px 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1.5px dotted #ccc;
  margin: 7.5px; }

.detail-wrap .tab .tab-content {
  font-size: 14px;
  color: #00779c;
  line-height: 30px;
  background: #fff;
  padding: 20px 25px;
  margin-top: 20px; }

.detail-tab .tabs h3 {
  color: #ef805c; }

.overview-section {
  padding-bottom: 20px;
  overflow: hidden; }

.yatra-itinerary-list {
  padding: 10px; }

.yatra-tour-gallery li.yatra-gallery-item {
  width: 25%;
  float: left;
  position: relative;
  padding-top: 25%; }
  .yatra-tour-gallery li.yatra-gallery-item a {
    display: block;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
    .yatra-tour-gallery li.yatra-gallery-item a img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*# sourceMappingURL=yatra.css.map */