.yatra-tabs section.yatra-tab-content {
  background: #f5f5f5; }
  .yatra-tabs section.yatra-tab-content .tab-inner {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd; }
    .yatra-tabs section.yatra-tab-content .tab-inner:focus {
      outline: none; }

.yatra-tabs > ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #1abc9c;
  font-size: 0;
  background: #1abc9c; }

.yatra-tabs > ul .indicator {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background: #1E88E5;
  -webkit-transform: translateZ(0) translateX(0);
  -moz-transform: translateZ(0) translateX(0);
       transform: translateZ(0) translateX(0);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.yatra-tabs > ul li {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0; }

.yatra-tabs > ul li a {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-right: 1px solid #00bc7c; }

.yatra-tabs > ul li a:focus {
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none; }

.yatra-tabs > ul li:last-child a {
  border-right: 0; }

.yatra-tabs > ul li a[data-aria-selected],
.yatra-tabs > ul li a:hover,
.yatra-tabs > ul li.active a,
.yatra-tabs > ul li.active:hover a,
.yatra-tabs > ul li a:hover {
  color: #1abc9c;
  background: #fff; }

.yatra-tabs ul.yatra-tab-wrap li.item > a .fa, .yatra-tabs ul.yatra-tab-wrap li.item > a svg, .yatra-tabs ul.yatra-tab-wrap li.item > a .icon {
  margin-right: 10px; }

.yatra-tabs > ul li a[data-aria-selected]:before {
  /*-webkit-transform: translateZ(0) translateY(0);
  transform: translateZ(0) translateY(0);*/ }

.yatra-tabs > section[aria-hidden="true"] {
  display: none; }

.yatra-tabs section.yatra-tab-content h3.tab-title .fa, .yatra-tabs section.yatra-tab-content h3.tab-title svg {
  float: right;
  cursor: pointer; }

.yatra-field-wrap p {
  padding-left: 10px;
  padding-right: 10px; }

.yatra-tab-content:after {
  clear: both;
  content: "";
  display: block; }

.yatra-tab-content label {
  font-weight: bold;
  font-size: 14px; }

.yatra-tab-content .select2 {
  width: 100% !important; }

.yatra-tab-content input,
.yatra-tab-content input[type="text"],
.yatra-tab-content input[type="number"],
.yatra-tab-content select,
.yatra-tab-content textarea
.yatra-tab-content .widefat {
  font-size: 14px;
  height: auto;
  padding: 6px 10px;
  border-radius: 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
  margin-top: 5px; }

@media (min-width: 600px) {
  .yatra-right {
    float: right;
    width: 49%;
    max-width: 49%; }
  .yatra-left {
    float: left;
    width: 49%;
    max-width: 49%; }
  .yatra-field-row:after {
    clear: both;
    content: "";
    display: block; }
  .yatra-field-row {
    display: block; } }

.yatra-tabs.heading-and-content .yatra-tab-item {
  display: block; }
  .yatra-tabs.heading-and-content .yatra-tab-item .yatra-tab-content {
    padding: 15px 0; }
    .yatra-tabs.heading-and-content .yatra-tab-item .yatra-tab-content .tab-title {
      padding: 5px 5px 10px 5px; }
      .yatra-tabs.heading-and-content .yatra-tab-item .yatra-tab-content .tab-title .icon {
        float: right;
        cursor: pointer; }
    .yatra-tabs.heading-and-content .yatra-tab-item .yatra-tab-content .cost-info-half li {
      line-height: unset; }

.yatra-nice-input-number {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .yatra-nice-input-number .nice-button {
    background: none !important;
    border: none;
    color: #000 !important;
    height: 35px;
    width: 30px;
    border: 1px solid #aaa;
    border-radius: 0;
    position: relative;
    font-size: 17px;
    font-weight: 900;
    margin: 0;
    padding: 0; }
    .yatra-nice-input-number .nice-button:focus, .yatra-nice-input-number .nice-button:hover {
      outline: none; }
    .yatra-nice-input-number .nice-button:before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 35px; }
    .yatra-nice-input-number .nice-button:hover {
      border-color: #000; }
    .yatra-nice-input-number .nice-button .icon {
      font-weight: 900 !important; }
    .yatra-nice-input-number .nice-button:hover, .yatra-nice-input-number .nice-button:focus, .yatra-nice-input-number .nice-button:active {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .yatra-nice-input-number input[type="number"] {
    width: 40px !important;
    height: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-size: 18px;
    border-top: 1px solid #aaa !important;
    border-bottom: 1px solid #aaa !important;
    border-radius: 0; }
    .yatra-nice-input-number input[type="number"]:focus, .yatra-nice-input-number input[type="number"]:hover {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      outline: none; }
    .yatra-nice-input-number input[type="number"]::-webkit-inner-spin-button, .yatra-nice-input-number input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield; }

.yatra-account-messages {
  list-style: square;
  margin: 0;
  padding: 0; }

.yatra-info, .yatra-success, .yatra-warning, .yatra-error, .yatra-validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center; }

.yatra-info {
  color: #00529B;
  background-color: #BDE5F8; }

.yatra-success {
  color: #4F8A10;
  background-color: #DFF2BF; }

.yatra-warning {
  color: #9F6000;
  background-color: #FEEFB3; }

.yatra-error {
  color: #D8000C;
  background-color: #FFBABA; }

.yatra-validation {
  color: #D63301;
  background-color: #FFCCBA; }

.yatra-book-btn-wrapper {
  text-align: right; }

.mb-clear {
  clear: both;
  display: block; }

.yatra-content-area header {
  margin-bottom: 30px; }

.yatra-content-area .page-title, .yatra-content-area .entry-title {
  line-height: 1.2;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.yatra-content-area .yatra-book-btn-wrapper input.yatra_number_of_person {
  padding: 8px 10px;
  height: auto;
  font-size: 15px;
  width: 100px;
  border: 2px solid #1abc9c;
  border-radius: 0; }

.yatra-content-area .yatra-book-now-btn {
  line-height: 1.5em;
  padding: 10px 20px;
  display: block;
  width: 100%;
  margin: 15px 0;
  background: none;
  border: 2px solid #1abc9c;
  color: #484848;
  font-size: 15px;
  margin-left: 0;
  border-radius: 0; }
  .yatra-content-area .yatra-book-now-btn:hover {
    background: #1abc9c;
    color: #fff; }

.yatra-content-area .fa, .yatra-content-area .far, .yatra-content-area .fas {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900; }

.yatra-page-wrapper.template-default article {
  position: relative;
  margin-bottom: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
  box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.1);
  display: block; }
  .yatra-page-wrapper.template-default article:after {
    content: "";
    display: block;
    clear: both; }
  .yatra-page-wrapper.template-default article .thumb-wrap {
    width: 33.33%;
    float: left; }
  .yatra-page-wrapper.template-default article .content-wrap {
    width: 41.67%;
    float: left; }
  .yatra-page-wrapper.template-default article .meta-content-wrap {
    width: 25%;
    float: left; }
    .yatra-page-wrapper.template-default article .meta-content-wrap ul li {
      list-style: none;
      line-height: 1.5em;
      background: #f9f9f9;
      padding: 8px;
      border: 1px solid #ddd;
      margin-bottom: 1px; }
  .yatra-page-wrapper.template-default article .inner {
    padding: 15px; }

.yatra-page-wrapper .nav-links .meta-nav {
  display: none; }

.yatra-page-wrapper .nav-links .nav-previous {
  width: 50%;
  float: left; }

.yatra-page-wrapper .nav-links .nav-next {
  width: 50%;
  text-align: right;
  float: right; }

.yatra-page-wrapper .nav-links .nav-previous a:before {
  content: "\f0d9";
  font-family: FontAwesome;
  font-style: normal;
  margin-right: 5px; }

.yatra-page-wrapper .nav-links .nav-next a:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  margin-left: 5px;
  position: absolute;
  right: 10px; }

.yatra-page-wrapper .nav-links .nav-previous {
  float: left;
  width: 25%; }

.yatra-page-wrapper .nav-links .nav-next {
  width: 25%;
  float: right; }
  .yatra-page-wrapper .nav-links .nav-next a {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 20px; }

.yatra-page-wrapper .nav-links .nav-previous a {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap; }

.yatra-page-wrapper .navigation.pagination {
  padding: 0 0 30px; }

.yatra-page-wrapper .navigation .nav-links a,
.yatra-page-wrapper .navigation .nav-links span.current,
.yatra-page-wrapper .navigation .nav-links span.dots,
.yatra-page-wrapper .bttn, .yatra-page-wrapper button {
  background: blue;
  color: #ffffff;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  font-size: 14px;
  line-height: 13px;
  height: 33px;
  padding: 10px 15px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-shadow: none;
  border: 1px solid blue; }

.yatra-page-wrapper .navigation .nav-links span.current,
.yatra-page-wrapper .navigation .nav-links span.dots {
  color: inherit;
  background: inherit;
  padding: 10px 12px; }

.yatra-tabs .row {
  margin-left: 0;
  margin-right: 0; }

.yatra-tabs .yatra-tab-content ul, .yatra-tabs .yatra-tab-content ol {
  margin: 0;
  padding: 0; }
  .yatra-tabs .yatra-tab-content ul li, .yatra-tabs .yatra-tab-content ol li {
    list-style: none; }

.yatra-tabs .yatra-tab-content .cost-info-half {
  width: 50%;
  float: left;
  padding: 15px;
  padding-top: 0; }
  .yatra-tabs .yatra-tab-content .cost-info-half li {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 25px;
    color: #555542;
    margin: 5px 0 15px; }
    .yatra-tabs .yatra-tab-content .cost-info-half li:before {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 13px;
      left: 0;
      top: 4px; }
  .yatra-tabs .yatra-tab-content .cost-info-half.cost_included li:before {
    content: "\f00c";
    color: #21769b; }
  .yatra-tabs .yatra-tab-content .cost-info-half.cost_excluded li:before {
    content: "\f00d";
    color: #ed7701; }
  .yatra-tabs .yatra-tab-content .cost-info-half h4 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    /* background: #d77b5d; */
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    margin-bottom: 20px; }

.yatra-tabs .yatra-tab-content .tab-inner:after {
  clear: both;
  content: "";
  display: block; }

.sec-row {
  margin-left: -7.5px;
  margin-right: -7.5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #000; }

.col-half {
  width: -moz-calc(50% - 15px);
  width: calc(50% - 15px);
  padding: 10px 15px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1.5px dotted #ccc;
  margin: 7.5px; }

.detail-wrap .tab .tab-content {
  font-size: 14px;
  color: #00779c;
  line-height: 30px;
  background: #fff;
  padding: 20px 25px;
  margin-top: 20px; }

.detail-tab .tabs h3 {
  color: #1abc9c; }

.overview-section {
  padding-bottom: 20px;
  overflow: hidden; }

.yatra-itinerary-list {
  padding: 10px; }

.yatra-tour-gallery li.yatra-gallery-item {
  width: 25%;
  float: left;
  position: relative;
  padding-top: 25%; }
  .yatra-tour-gallery li.yatra-gallery-item a {
    display: block;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }
    .yatra-tour-gallery li.yatra-gallery-item a img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.yatra-itinerary-list .itinerary-content, .yatra-itinerary-list .itinerary-heading, .yatra-itinerary-list .faq-content, .yatra-itinerary-list .faq-heading, .yatra-faq-list-item .itinerary-content, .yatra-faq-list-item .itinerary-heading, .yatra-faq-list-item .faq-content, .yatra-faq-list-item .faq-heading {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0; }

.yatra-itinerary-list .itinerary-heading .fa, .yatra-itinerary-list .itinerary-heading svg, .yatra-itinerary-list .faq-heading .fa, .yatra-itinerary-list .faq-heading svg, .yatra-faq-list-item .itinerary-heading .fa, .yatra-faq-list-item .itinerary-heading svg, .yatra-faq-list-item .faq-heading .fa, .yatra-faq-list-item .faq-heading svg {
  float: right;
  cursor: pointer; }

.yatra-single-meta-content {
  padding: 10px; }

.yatra-single-meta-options {
  float: right;
  width: 50%;
  max-width: 50%;
  padding: 10px; }

.entry-content.entry-tabs:before {
  content: '';
  display: block;
  clear: both;
  width: 100%; }

.yatra-overlay {
  z-index: 1000;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  opacity: 0.6;
  cursor: wait;
  position: absolute; }

.yatra-destination-wrap, .yatra-activity-wrap, .yatra-discount-deals-wrap, .yatra-tour-list-wrap {
  display: block;
  margin-left: -15px;
  margin-right: -15px; }
  .yatra-destination-wrap.yatra-col-4 .yatra-destination-item, .yatra-destination-wrap.yatra-col-4 .yatra-activity-item, .yatra-destination-wrap.yatra-col-4 .yatra-deals-item, .yatra-destination-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-activity-wrap.yatra-col-4 .yatra-destination-item, .yatra-activity-wrap.yatra-col-4 .yatra-activity-item, .yatra-activity-wrap.yatra-col-4 .yatra-deals-item, .yatra-activity-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-destination-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-activity-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-deals-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-destination-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-activity-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-deals-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-tour-list-item {
    width: 25%;
    float: left; }
  .yatra-destination-wrap.yatra-col-3 .yatra-destination-item, .yatra-destination-wrap.yatra-col-3 .yatra-activity-item, .yatra-destination-wrap.yatra-col-3 .yatra-deals-item, .yatra-destination-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-activity-wrap.yatra-col-3 .yatra-destination-item, .yatra-activity-wrap.yatra-col-3 .yatra-activity-item, .yatra-activity-wrap.yatra-col-3 .yatra-deals-item, .yatra-activity-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-destination-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-activity-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-deals-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-destination-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-activity-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-deals-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-tour-list-item {
    width: 33.33%;
    float: left; }
  .yatra-destination-wrap .yatra-destination-item, .yatra-destination-wrap .yatra-activity-item, .yatra-destination-wrap .yatra-item-inner, .yatra-activity-wrap .yatra-destination-item, .yatra-activity-wrap .yatra-activity-item, .yatra-activity-wrap .yatra-item-inner, .yatra-discount-deals-wrap .yatra-destination-item, .yatra-discount-deals-wrap .yatra-activity-item, .yatra-discount-deals-wrap .yatra-item-inner, .yatra-tour-list-wrap .yatra-destination-item, .yatra-tour-list-wrap .yatra-activity-item, .yatra-tour-list-wrap .yatra-item-inner {
    position: relative;
    height: 275px;
    padding: 0 15px;
    margin: 0 0 30px;
    display: block; }
    .yatra-destination-wrap .yatra-destination-item img, .yatra-destination-wrap .yatra-destination-item figure, .yatra-destination-wrap .yatra-activity-item img, .yatra-destination-wrap .yatra-activity-item figure, .yatra-destination-wrap .yatra-item-inner img, .yatra-destination-wrap .yatra-item-inner figure, .yatra-activity-wrap .yatra-destination-item img, .yatra-activity-wrap .yatra-destination-item figure, .yatra-activity-wrap .yatra-activity-item img, .yatra-activity-wrap .yatra-activity-item figure, .yatra-activity-wrap .yatra-item-inner img, .yatra-activity-wrap .yatra-item-inner figure, .yatra-discount-deals-wrap .yatra-destination-item img, .yatra-discount-deals-wrap .yatra-destination-item figure, .yatra-discount-deals-wrap .yatra-activity-item img, .yatra-discount-deals-wrap .yatra-activity-item figure, .yatra-discount-deals-wrap .yatra-item-inner img, .yatra-discount-deals-wrap .yatra-item-inner figure, .yatra-tour-list-wrap .yatra-destination-item img, .yatra-tour-list-wrap .yatra-destination-item figure, .yatra-tour-list-wrap .yatra-activity-item img, .yatra-tour-list-wrap .yatra-activity-item figure, .yatra-tour-list-wrap .yatra-item-inner img, .yatra-tour-list-wrap .yatra-item-inner figure {
      vertical-align: top;
      height: 275px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .yatra-destination-wrap .yatra-destination-item figure, .yatra-destination-wrap .yatra-activity-item figure, .yatra-destination-wrap .yatra-item-inner figure, .yatra-activity-wrap .yatra-destination-item figure, .yatra-activity-wrap .yatra-activity-item figure, .yatra-activity-wrap .yatra-item-inner figure, .yatra-discount-deals-wrap .yatra-destination-item figure, .yatra-discount-deals-wrap .yatra-activity-item figure, .yatra-discount-deals-wrap .yatra-item-inner figure, .yatra-tour-list-wrap .yatra-destination-item figure, .yatra-tour-list-wrap .yatra-activity-item figure, .yatra-tour-list-wrap .yatra-item-inner figure {
      background: #ddd; }
    .yatra-destination-wrap .yatra-destination-item h2.destination-title,
    .yatra-destination-wrap .yatra-destination-item h2,
    .yatra-destination-wrap .yatra-destination-item h2.activity-title, .yatra-destination-wrap .yatra-activity-item h2.destination-title,
    .yatra-destination-wrap .yatra-activity-item h2,
    .yatra-destination-wrap .yatra-activity-item h2.activity-title, .yatra-destination-wrap .yatra-item-inner h2.destination-title,
    .yatra-destination-wrap .yatra-item-inner h2,
    .yatra-destination-wrap .yatra-item-inner h2.activity-title, .yatra-activity-wrap .yatra-destination-item h2.destination-title,
    .yatra-activity-wrap .yatra-destination-item h2,
    .yatra-activity-wrap .yatra-destination-item h2.activity-title, .yatra-activity-wrap .yatra-activity-item h2.destination-title,
    .yatra-activity-wrap .yatra-activity-item h2,
    .yatra-activity-wrap .yatra-activity-item h2.activity-title, .yatra-activity-wrap .yatra-item-inner h2.destination-title,
    .yatra-activity-wrap .yatra-item-inner h2,
    .yatra-activity-wrap .yatra-item-inner h2.activity-title, .yatra-discount-deals-wrap .yatra-destination-item h2.destination-title,
    .yatra-discount-deals-wrap .yatra-destination-item h2,
    .yatra-discount-deals-wrap .yatra-destination-item h2.activity-title, .yatra-discount-deals-wrap .yatra-activity-item h2.destination-title,
    .yatra-discount-deals-wrap .yatra-activity-item h2,
    .yatra-discount-deals-wrap .yatra-activity-item h2.activity-title, .yatra-discount-deals-wrap .yatra-item-inner h2.destination-title,
    .yatra-discount-deals-wrap .yatra-item-inner h2,
    .yatra-discount-deals-wrap .yatra-item-inner h2.activity-title, .yatra-tour-list-wrap .yatra-destination-item h2.destination-title,
    .yatra-tour-list-wrap .yatra-destination-item h2,
    .yatra-tour-list-wrap .yatra-destination-item h2.activity-title, .yatra-tour-list-wrap .yatra-activity-item h2.destination-title,
    .yatra-tour-list-wrap .yatra-activity-item h2,
    .yatra-tour-list-wrap .yatra-activity-item h2.activity-title, .yatra-tour-list-wrap .yatra-item-inner h2.destination-title,
    .yatra-tour-list-wrap .yatra-item-inner h2,
    .yatra-tour-list-wrap .yatra-item-inner h2.activity-title {
      position: absolute;
      left: 15px;
      bottom: 0;
      width: -moz-calc(100% - 30px);
      width: calc(100% - 30px);
      font-size: 30px;
      line-height: 1.2em;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin: 0;
      padding: 23px;
      pointer-events: none;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -moz- oldlinear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      border-left: 23px solid transparent;
      border-right: 23px solid transparent;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      text-align: center; }
    .yatra-destination-wrap .yatra-destination-item h2.yatra-deals-title, .yatra-destination-wrap .yatra-destination-item h2.yatra-tour-title, .yatra-destination-wrap .yatra-activity-item h2.yatra-deals-title, .yatra-destination-wrap .yatra-activity-item h2.yatra-tour-title, .yatra-destination-wrap .yatra-item-inner h2.yatra-deals-title, .yatra-destination-wrap .yatra-item-inner h2.yatra-tour-title, .yatra-activity-wrap .yatra-destination-item h2.yatra-deals-title, .yatra-activity-wrap .yatra-destination-item h2.yatra-tour-title, .yatra-activity-wrap .yatra-activity-item h2.yatra-deals-title, .yatra-activity-wrap .yatra-activity-item h2.yatra-tour-title, .yatra-activity-wrap .yatra-item-inner h2.yatra-deals-title, .yatra-activity-wrap .yatra-item-inner h2.yatra-tour-title, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-deals-title, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-tour-title, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-deals-title, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-tour-title, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-deals-title, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-tour-title, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-deals-title, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-tour-title, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-deals-title, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-tour-title, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-deals-title, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-tour-title {
      pointer-events: unset; }
      .yatra-destination-wrap .yatra-destination-item h2.yatra-deals-title a, .yatra-destination-wrap .yatra-destination-item h2.yatra-tour-title a, .yatra-destination-wrap .yatra-activity-item h2.yatra-deals-title a, .yatra-destination-wrap .yatra-activity-item h2.yatra-tour-title a, .yatra-destination-wrap .yatra-item-inner h2.yatra-deals-title a, .yatra-destination-wrap .yatra-item-inner h2.yatra-tour-title a, .yatra-activity-wrap .yatra-destination-item h2.yatra-deals-title a, .yatra-activity-wrap .yatra-destination-item h2.yatra-tour-title a, .yatra-activity-wrap .yatra-activity-item h2.yatra-deals-title a, .yatra-activity-wrap .yatra-activity-item h2.yatra-tour-title a, .yatra-activity-wrap .yatra-item-inner h2.yatra-deals-title a, .yatra-activity-wrap .yatra-item-inner h2.yatra-tour-title a, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-deals-title a, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-tour-title a, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-deals-title a, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-tour-title a, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-deals-title a, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-tour-title a, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-deals-title a, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-tour-title a, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-deals-title a, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-tour-title a, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-deals-title a, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-tour-title a {
        color: #fff !important;
        text-align: center;
        margin: 0 auto;
        display: block;
        border: none;
        font-size: 18px;
        font-weight: 500; }
      .yatra-destination-wrap .yatra-destination-item h2.yatra-deals-title:hover, .yatra-destination-wrap .yatra-destination-item h2.yatra-tour-title:hover, .yatra-destination-wrap .yatra-activity-item h2.yatra-deals-title:hover, .yatra-destination-wrap .yatra-activity-item h2.yatra-tour-title:hover, .yatra-destination-wrap .yatra-item-inner h2.yatra-deals-title:hover, .yatra-destination-wrap .yatra-item-inner h2.yatra-tour-title:hover, .yatra-activity-wrap .yatra-destination-item h2.yatra-deals-title:hover, .yatra-activity-wrap .yatra-destination-item h2.yatra-tour-title:hover, .yatra-activity-wrap .yatra-activity-item h2.yatra-deals-title:hover, .yatra-activity-wrap .yatra-activity-item h2.yatra-tour-title:hover, .yatra-activity-wrap .yatra-item-inner h2.yatra-deals-title:hover, .yatra-activity-wrap .yatra-item-inner h2.yatra-tour-title:hover, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-deals-title:hover, .yatra-discount-deals-wrap .yatra-destination-item h2.yatra-tour-title:hover, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-deals-title:hover, .yatra-discount-deals-wrap .yatra-activity-item h2.yatra-tour-title:hover, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-deals-title:hover, .yatra-discount-deals-wrap .yatra-item-inner h2.yatra-tour-title:hover, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-deals-title:hover, .yatra-tour-list-wrap .yatra-destination-item h2.yatra-tour-title:hover, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-deals-title:hover, .yatra-tour-list-wrap .yatra-activity-item h2.yatra-tour-title:hover, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-deals-title:hover, .yatra-tour-list-wrap .yatra-item-inner h2.yatra-tour-title:hover {
        background: #03ad8b; }
    .yatra-destination-wrap .yatra-destination-item a.yatra-link, .yatra-destination-wrap .yatra-activity-item a.yatra-link, .yatra-destination-wrap .yatra-item-inner a.yatra-link, .yatra-activity-wrap .yatra-destination-item a.yatra-link, .yatra-activity-wrap .yatra-activity-item a.yatra-link, .yatra-activity-wrap .yatra-item-inner a.yatra-link, .yatra-discount-deals-wrap .yatra-destination-item a.yatra-link, .yatra-discount-deals-wrap .yatra-activity-item a.yatra-link, .yatra-discount-deals-wrap .yatra-item-inner a.yatra-link, .yatra-tour-list-wrap .yatra-destination-item a.yatra-link, .yatra-tour-list-wrap .yatra-activity-item a.yatra-link, .yatra-tour-list-wrap .yatra-item-inner a.yatra-link {
      display: block;
      height: 100%;
      width: 100%;
      background: #f9f9f9; }
    .yatra-destination-wrap .yatra-destination-item:hover h2.destination-title,
    .yatra-destination-wrap .yatra-destination-item:hover h2.activity-title, .yatra-destination-wrap .yatra-activity-item:hover h2.destination-title,
    .yatra-destination-wrap .yatra-activity-item:hover h2.activity-title, .yatra-destination-wrap .yatra-item-inner:hover h2.destination-title,
    .yatra-destination-wrap .yatra-item-inner:hover h2.activity-title, .yatra-activity-wrap .yatra-destination-item:hover h2.destination-title,
    .yatra-activity-wrap .yatra-destination-item:hover h2.activity-title, .yatra-activity-wrap .yatra-activity-item:hover h2.destination-title,
    .yatra-activity-wrap .yatra-activity-item:hover h2.activity-title, .yatra-activity-wrap .yatra-item-inner:hover h2.destination-title,
    .yatra-activity-wrap .yatra-item-inner:hover h2.activity-title, .yatra-discount-deals-wrap .yatra-destination-item:hover h2.destination-title,
    .yatra-discount-deals-wrap .yatra-destination-item:hover h2.activity-title, .yatra-discount-deals-wrap .yatra-activity-item:hover h2.destination-title,
    .yatra-discount-deals-wrap .yatra-activity-item:hover h2.activity-title, .yatra-discount-deals-wrap .yatra-item-inner:hover h2.destination-title,
    .yatra-discount-deals-wrap .yatra-item-inner:hover h2.activity-title, .yatra-tour-list-wrap .yatra-destination-item:hover h2.destination-title,
    .yatra-tour-list-wrap .yatra-destination-item:hover h2.activity-title, .yatra-tour-list-wrap .yatra-activity-item:hover h2.destination-title,
    .yatra-tour-list-wrap .yatra-activity-item:hover h2.activity-title, .yatra-tour-list-wrap .yatra-item-inner:hover h2.destination-title,
    .yatra-tour-list-wrap .yatra-item-inner:hover h2.activity-title {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#1abc9c));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #1abc9c 100%);
      background: -moz- oldlinear-gradient(top, rgba(0, 0, 0, 0) 0%, #1abc9c 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #1abc9c 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1abc9c 100%);
      color: #fff; }
  .yatra-destination-wrap:after, .yatra-activity-wrap:after, .yatra-discount-deals-wrap:after, .yatra-tour-list-wrap:after {
    clear: both;
    content: ''; }
  .yatra-destination-wrap .yatra-deals-item, .yatra-destination-wrap .yatra-tour-list-item, .yatra-activity-wrap .yatra-deals-item, .yatra-activity-wrap .yatra-tour-list-item, .yatra-discount-deals-wrap .yatra-deals-item, .yatra-discount-deals-wrap .yatra-tour-list-item, .yatra-tour-list-wrap .yatra-deals-item, .yatra-tour-list-wrap .yatra-tour-list-item {
    padding: 0 15px; }
    .yatra-destination-wrap .yatra-deals-item .yatra-item-inner:hover, .yatra-destination-wrap .yatra-tour-list-item .yatra-item-inner:hover, .yatra-activity-wrap .yatra-deals-item .yatra-item-inner:hover, .yatra-activity-wrap .yatra-tour-list-item .yatra-item-inner:hover, .yatra-discount-deals-wrap .yatra-deals-item .yatra-item-inner:hover, .yatra-discount-deals-wrap .yatra-tour-list-item .yatra-item-inner:hover, .yatra-tour-list-wrap .yatra-deals-item .yatra-item-inner:hover, .yatra-tour-list-wrap .yatra-tour-list-item .yatra-item-inner:hover {
      -webkit-box-shadow: 1px 1px 9px 3px rgba(218, 218, 218, 0.5);
              box-shadow: 1px 1px 9px 3px rgba(218, 218, 218, 0.5);
      border: 1px solid #aaa; }
  .yatra-destination-wrap .yatra-item-inner, .yatra-activity-wrap .yatra-item-inner, .yatra-discount-deals-wrap .yatra-item-inner, .yatra-tour-list-wrap .yatra-item-inner {
    position: relative;
    height: 550px;
    padding: 0;
    margin: 0 0 30px;
    display: block;
    border: 1px solid #ddd; }
    .yatra-destination-wrap .yatra-item-inner ul.yatra-tour-meta-options, .yatra-activity-wrap .yatra-item-inner ul.yatra-tour-meta-options, .yatra-discount-deals-wrap .yatra-item-inner ul.yatra-tour-meta-options, .yatra-tour-list-wrap .yatra-item-inner ul.yatra-tour-meta-options {
      background: #f9f9f9;
      padding: 25px 15px;
      margin: 0;
      list-style: none;
      text-align: left;
      border-bottom: 2px solid #ddd; }
      .yatra-destination-wrap .yatra-item-inner ul.yatra-tour-meta-options .fa, .yatra-activity-wrap .yatra-item-inner ul.yatra-tour-meta-options .fa, .yatra-discount-deals-wrap .yatra-item-inner ul.yatra-tour-meta-options .fa, .yatra-tour-list-wrap .yatra-item-inner ul.yatra-tour-meta-options .fa {
        margin-right: 10px;
        width: 10px;
        display: inline-block; }
    .yatra-destination-wrap .yatra-item-inner h2, .yatra-activity-wrap .yatra-item-inner h2, .yatra-discount-deals-wrap .yatra-item-inner h2, .yatra-tour-list-wrap .yatra-item-inner h2 {
      background: #1abc9c; }
      .yatra-destination-wrap .yatra-item-inner h2:hover, .yatra-activity-wrap .yatra-item-inner h2:hover, .yatra-discount-deals-wrap .yatra-item-inner h2:hover, .yatra-tour-list-wrap .yatra-item-inner h2:hover {
        background: none;
        color: initial; }
    .yatra-destination-wrap .yatra-item-inner .deals-footer, .yatra-activity-wrap .yatra-item-inner .deals-footer, .yatra-discount-deals-wrap .yatra-item-inner .deals-footer, .yatra-tour-list-wrap .yatra-item-inner .deals-footer {
      position: absolute;
      top: 250px;
      left: 33%; }
      .yatra-destination-wrap .yatra-item-inner .deals-footer a, .yatra-activity-wrap .yatra-item-inner .deals-footer a, .yatra-discount-deals-wrap .yatra-item-inner .deals-footer a, .yatra-tour-list-wrap .yatra-item-inner .deals-footer a {
        border-radius: 50px;
        padding: 15px 25px;
        background-color: #1abc9c;
        border: 1px solid #1abc9c;
        color: #fff; }
  .yatra-destination-wrap:after, .yatra-activity-wrap:after, .yatra-discount-deals-wrap:after, .yatra-tour-list-wrap:after {
    content: '';
    display: block;
    clear: both;
    width: 100%; }

body.single .yatra-single-tour .yatra-site-main {
  width: 65%;
  float: left;
  padding: 10px; }

body.single .yatra-single-tour .yatra-tour-info {
  float: right;
  width: 35%;
  padding: 10px; }
  body.single .yatra-single-tour .yatra-tour-info .yatra-tour-info-inner {
    background: #f5f5f5; }

body.single .yatra-single-tour:after {
  clear: both;
  content: '';
  display: block; }

.yatra-tour-additional-info {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd; }
  .yatra-tour-additional-info .yatra-tour-additional-info-item {
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    width: 50%;
    float: left; }
    .yatra-tour-additional-info .yatra-tour-additional-info-item .icon {
      width: 30px;
      display: inline-block;
      margin-right: 4px; }
  .yatra-tour-additional-info:after {
    clear: both;
    content: '';
    display: block; }

#yatra-tour-booking-form-fields {
  display: block;
  width: 100%; }
  #yatra-tour-booking-form-fields .yatra-traveler-info-wrap {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 25px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden; }
    #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-number {
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      position: relative;
      padding-right: 20px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: initial;
         -moz-box-flex: initial;
          -ms-flex: initial;
              flex: initial;
      -webkit-box-align: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-number .yatra-traveler-number-inner {
        width: 100px;
        height: 35px;
        border-radius: 0px;
        margin-right: 10px; }
        #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-number .yatra-traveler-number-inner input {
          height: 100%;
          margin: 0;
          border: none; }
    #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-price {
      text-align: right;
      -webkit-box-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-price ins {
        font-weight: 500; }
      #yatra-tour-booking-form-fields .yatra-traveler-info-wrap .yatra-traveler-price span {
        display: block;
        font-size: 12px;
        color: #5e6d77; }
  #yatra-tour-booking-form-fields .yatra-form-fields:last-child .yatra-traveler-info-wrap {
    border-bottom: none;
    margin-bottom: 0; }

.yatra-tour-attribute-info {
  padding: 10px 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin: 5px 0; }
  .yatra-tour-attribute-info table, .yatra-tour-attribute-info td, .yatra-tour-attribute-info th, .yatra-tour-attribute-info tr {
    padding: 0;
    border: 0; }

.yatra-shortcode-wrapper form.yatra-cart-form {
  position: relative; }
  .yatra-shortcode-wrapper form.yatra-cart-form .actions {
    text-align: right; }
  .yatra-shortcode-wrapper form.yatra-cart-form .button.yatra-proceed-to-checkout, .yatra-shortcode-wrapper form.yatra-cart-form .button.yatra_update_cart {
    float: right;
    padding: 10px;
    background: #1abc9c;
    color: #fff;
    border: 1px solid #1abc9c; }
    .yatra-shortcode-wrapper form.yatra-cart-form .button.yatra-proceed-to-checkout:hover, .yatra-shortcode-wrapper form.yatra-cart-form .button.yatra_update_cart:hover {
      background: #fff;
      color: #1abc9c !important; }

#yatra-tour-cart-edit-form-fields {
  display: block;
  width: 100%; }
  #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap {
    border-bottom: 1px solid #f8f8f8;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    padding: 0 20px; }
    #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-number {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      width: 50%; }
      #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-number span {
        font-weight: 500;
        font-size: 14px; }
      #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-number .yatra-traveler-number-inner {
        width: 100px;
        height: 35px;
        border-radius: 0px;
        margin-right: 18px; }
        #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-number .yatra-traveler-number-inner input {
          height: 100%;
          margin: 0;
          border: none;
          padding: 0 10px; }
    #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-price {
      width: 30%; }
      #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-price ins {
        font-weight: 500; }
      #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-price span {
        display: block;
        font-size: 12px;
        color: #5e6d77; }
    #yatra-tour-cart-edit-form-fields .yatra-traveler-info-wrap .yatra-traveler-total-price {
      width: 20%; }
  #yatra-tour-cart-edit-form-fields .yatra-form-fields:last-child .yatra-traveler-info-wrap {
    border-bottom: none;
    margin-bottom: 0; }

form.yatra-checkout-form label {
  display: block;
  padding: 5px 0; }

form.yatra-checkout-form .yatra-field-wrap p {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 10px !important; }

form.yatra-checkout-form .yatra-field-wrap input, form.yatra-checkout-form .yatra-field-wrap select {
  width: 100%;
  -webkit-appearance: none;
  color: #4a5568;
  border: 1px solid #cbd5e0;
  border-radius: 3px;
  padding: 0.4em 0.5em;
  max-width: 100%; }

form.yatra-checkout-form .yatra-field-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.4em 0.5em;
  color: #4a5568; }

form.yatra-checkout-form .yatra-field-wrap .select2-container--default .select2-selection--single {
  height: auto;
  border: 1px solid #cbd5e0;
  border-radius: 3px;
  color: #4a5568; }

form.yatra-checkout-form .yatra-checkout-form-fields, form.yatra-checkout-form .yatra-checkout-order-table {
  padding: 10px 0; }

form.yatra-checkout-form .yatra-checkout-review-tour-book-table {
  text-align: center; }

.select2-container {
  max-width: 100%; }

.yatra-my-account-navigation {
  width: 30%;
  float: left; }
  .yatra-my-account-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .yatra-my-account-navigation ul li .fa, .yatra-my-account-navigation ul li svg {
      margin-right: 5px; }
    .yatra-my-account-navigation ul li.active:before {
      content: " ";
      height: 100%;
      border-left-width: 3px;
      border-left-style: solid;
      vertical-align: sub;
      margin-right: 18px; }

.yatra-my-account-content {
  float: right;
  width: 70%; }
  .yatra-my-account-content label {
    display: block; }

ul.yatra-payment-gateway {
  padding: 15px;
  list-style: none;
  background: #f9f9f9;
  margin-left: 0;
  font-size: 18px; }
  ul.yatra-payment-gateway:after {
    clear: both;
    content: '';
    display: block; }

h2.yatra-payment-gateway-title:before {
  clear: both;
  content: '';
  display: block; }

.elementor-element .yatra-widget-header {
  max-width: 660px;
  margin: 0 auto 60px;
  text-align: center; }
  .elementor-element .yatra-widget-header .widget-title {
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    position: relative; }
    .elementor-element .yatra-widget-header .widget-title:after {
      width: 200px;
      height: 3px;
      bottom: -2px;
      left: 50%;
      margin-left: -100px;
      content: "";
      display: block;
      background: #03ad8b;
      position: absolute; }

@media (max-width: 768px) {
  .yatra-destination-wrap.yatra-col-4 .yatra-destination-item, .yatra-destination-wrap.yatra-col-4 .yatra-activity-item, .yatra-destination-wrap.yatra-col-4 .yatra-item-inner, .yatra-destination-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-destination-wrap.yatra-col-4 .yatra-deals-item, .yatra-destination-wrap.yatra-col-3 .yatra-destination-item, .yatra-destination-wrap.yatra-col-3 .yatra-activity-item, .yatra-destination-wrap.yatra-col-3 .yatra-item-inner, .yatra-destination-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-destination-wrap.yatra-col-3 .yatra-deals-item, .yatra-activity-wrap.yatra-col-4 .yatra-destination-item, .yatra-activity-wrap.yatra-col-4 .yatra-activity-item, .yatra-activity-wrap.yatra-col-4 .yatra-item-inner, .yatra-activity-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-activity-wrap.yatra-col-4 .yatra-deals-item, .yatra-activity-wrap.yatra-col-3 .yatra-destination-item, .yatra-activity-wrap.yatra-col-3 .yatra-activity-item, .yatra-activity-wrap.yatra-col-3 .yatra-item-inner, .yatra-activity-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-activity-wrap.yatra-col-3 .yatra-deals-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-destination-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-activity-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-item-inner, .yatra-discount-deals-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-discount-deals-wrap.yatra-col-4 .yatra-deals-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-destination-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-activity-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-item-inner, .yatra-discount-deals-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-discount-deals-wrap.yatra-col-3 .yatra-deals-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-destination-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-activity-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-item-inner, .yatra-tour-list-wrap.yatra-col-4 .yatra-tour-list-item, .yatra-tour-list-wrap.yatra-col-4 .yatra-deals-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-destination-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-activity-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-item-inner, .yatra-tour-list-wrap.yatra-col-3 .yatra-tour-list-item, .yatra-tour-list-wrap.yatra-col-3 .yatra-deals-item {
    width: 100%;
    float: none; }
  .yatra-destination-wrap .yatra-destination-item, .yatra-destination-wrap .yatra-activity-item, .yatra-destination-wrap .yatra-item-inner, .yatra-destination-wrap .yatra-tour-list-item, .yatra-destination-wrap .yatra-deals-item, .yatra-activity-wrap .yatra-destination-item, .yatra-activity-wrap .yatra-activity-item, .yatra-activity-wrap .yatra-item-inner, .yatra-activity-wrap .yatra-tour-list-item, .yatra-activity-wrap .yatra-deals-item, .yatra-discount-deals-wrap .yatra-destination-item, .yatra-discount-deals-wrap .yatra-activity-item, .yatra-discount-deals-wrap .yatra-item-inner, .yatra-discount-deals-wrap .yatra-tour-list-item, .yatra-discount-deals-wrap .yatra-deals-item, .yatra-tour-list-wrap .yatra-destination-item, .yatra-tour-list-wrap .yatra-activity-item, .yatra-tour-list-wrap .yatra-item-inner, .yatra-tour-list-wrap .yatra-tour-list-item, .yatra-tour-list-wrap .yatra-deals-item {
    width: 100%;
    float: none; }
  .yatra-page-wrapper.template-default article .thumb-wrap, .yatra-page-wrapper.template-default article .content-wrap {
    width: 100%;
    float: none; }
  .yatra-page-wrapper.template-default article .meta-content-wrap {
    display: none; }
  body.single .yatra-single-tour .yatra-site-main,
  body.single .yatra-single-tour .yatra-tour-info {
    width: 100%;
    float: none; } }
/*# sourceMappingURL=yatra.css.map */