#yatra-availability-calendar-container:after {
    content: "";
    display: inline-block;
    width: 100%;
    clear: both;

}

#yatra-availability-calendar-container {
    padding: 20px;
    background: #fff;
    border: 1px solid;

}

#yatra-availability-calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

#yatra-availability-calendar .fc-daygrid-day-events {

    padding: 10px;
}

#yatra-availability-calendar .fc-event {

    border-radius: 0;
    background: none !important;
    border: none;
    font-size: 14px;
}

#yatra-availability-calendar .fc-event .fc-event-title {
    padding: 2px 5px;
    border-radius: 0;
    background: #2991ff;
    color: white;
    display: inline-block;
    width: 100%;
}

#yatra-availability-calendar .fc-daygrid-day-top {
    justify-content: space-between;
}

#yatra-availability-calendar .fc-daygrid-day-top .yatra-cal-checkbox {
    margin: 5px;
    border: 1px solid #000;
    border-radius: 0;
}

#yatra-availability-calendar .yatra-cal-header-checkbox {
    border-radius: 0;
    float: left;
    margin: 5px;

}

#yatra-availability-calendar .fc-col-header-cell {
    padding: 20px 0;
}