#yatra-availability-calendar-container:after {
    content: "";
    display: inline-block;
    width: 100%;
    clear: both;

}

#yatra-availability-calendar-container {
    padding: 20px;
    background: #fff;
    border: 1px solid;

}

#yatra-availability-calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

#yatra-availability-calendar .fc-daygrid-day-events {

    padding: 10px;
}

#yatra-availability-calendar .fc-event {

    border-radius: 0;
    background: none !important;
    border: none;
    font-size: 14px;
}

#yatra-availability-calendar .fc-event .fc-event-title {
    padding: 2px 5px;
    border-radius: 0;
    background: #246c1c;
    color: white;
    display: inline-block;
    width: 100%;
}

#yatra-availability-calendar .fc-event .fc-event-title.fc-sticky.yatra-active-event {
    background: #4cb111;
}

#yatra-availability-calendar .fc-event .fc-event-title.fc-sticky.yatra-availability-enquiry {
    background: #008bb5;
}

#yatra-availability-calendar .fc-event .fc-event-title.fc-sticky.yatra-availability-none {
    background: #aaa;
}

#yatra-availability-calendar .fc-daygrid-day-top {
    justify-content: space-between;
}

#yatra-availability-calendar .fc-daygrid-day-top .yatra-cal-checkbox {
    margin: 5px;
    border: 1px solid #000;
    border-radius: 0;
}

#yatra-availability-calendar .yatra-cal-header-checkbox {
    border-radius: 0;
    float: left;
    margin: 5px;

}

#yatra-availability-calendar .fc-col-header-cell {
    padding: 20px 0;
}

#yatra-admin-popup {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#yatra-admin-popup .yatra-admin-popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
}

#yatra-admin-popup .yatra-admin-popup-content {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    min-height: 400px;
    max-height: 80vh;
    overflow-x: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
}

#yatra-admin-popup .yatra-admin-popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

#yatra-admin-popup .yatra-admin-popup-header-title {
    margin: 0;
    padding: 0;
}

#yatra-admin-popup .yatra-admin-popup-close {
    cursor: pointer;
    font-size: 30px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-row,
#yatra-admin-popup .yatra-pricing-group-wrap-container .yatra-field-row,
#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-row {
    display: flex;
}

#yatra-admin-popup .yatra-pricing-group-wrap-container input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-date input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="text"],
#yatra-admin-popup .yatra-pricing-group-wrap-container input[type="number"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="number"],
#yatra-admin-popup .yatra-pricing-group-wrap-container select,
#yatra-admin-popup .yatra-pricing-availability-calendar-date select,
#yatra-admin-popup .yatra-pricing-availability-calendar-header select {

    width: 100%;
    max-width: 200px;
    box-shadow: none;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 4px 12px;
    height: 35px;
    outline: 0;
    border-left: 3px solid #aaa;
    margin-right: 5px;
}

#yatra-admin-popup .yatra-pricing-group-wrap-container label {
    vertical-align: middle;
    padding: 5px 0;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date label {
    font-weight: 700;
    margin-right: 10px;
}

#yatra-admin-popup .yatra-field-wrap {

    width: 25%;

}

#yatra-admin-popup .yatra-pricing-group-wrap-container {

    margin-top: 10px;
}

#yatra-admin-popup fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    background: #f9f9f9;
}

#yatra-admin-popup legend {
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-wrap {
    align-items: center;
    width: 33.33%;
    margin-bottom: 15px;
    display: flex;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-row {
    justify-content: space-between;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-row {
    justify-content: space-between;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header {
    padding: 20px 0 0 0;
}


#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-tippy-tooltip {
    margin-left: 0;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header label:not(.yatra-switch-control) {
    font-weight: 700;
    margin-right: 5px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header select,
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="number"] {
    width: 150px;
    display: block;
    max-width: 300px;
}

#yatra-admin-popup .yatra-availability-calendar-pricing-content.yatra-overlay {
    position: relative;
}

#yatra-admin-popup .yatra-availability-calendar-pricing-content.yatra-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
}

#yatra-admin-popup .spinner {
    margin-top: 0px;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading {
    pointer-events: none;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading {
    position: relative;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
}

#yatra-admin-popup .yatra-avilability-daterange-picker {
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

body.yatra-popup-open {
    overflow-y: hidden;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date {
    margin: 20px 0;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-wrap {

    width: 100%;
    display: flex;
    align-items: center;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date select {
    width: 300px;
    max-width: 300px;
}

#yatra-admin-popup .daterangepicker {
    box-shadow: 5px 3px 20px rgb(0 0 0 / 50%);
}