#yatra-availability-calendar-container:after {
    content: "";
    display: inline-block;
    width: 100%;
    clear: both;

}

#yatra-availability-calendar-container {
    padding: 50px 20px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0 20px 0 0;

}

#yatra-availability-calendar {
    position: relative;
}

#yatra-availability-calendar.yatra-loading:before {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #aaa;
}

#yatra-availability-calendar .fc-daygrid-day-events {

    padding: 10px;
}

#yatra-availability-calendar .fc-event {

    border-radius: 0;
    background: none !important;
    border: none;
    font-size: 14px;
}

#yatra-availability-calendar .fc-event .fc-event-title {
    padding: 2px 5px;
    border-radius: 0;
    background: #2f582b;
    color: white;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header ul {
    display: flex;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li.active:before {

    background-color: #4cb111;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li.booking:before {
    background-color: #2f582b;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li.enquery:before {
    background-color: #008bb5;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li.not-available:before {
    background-color: #aaa;
}

#yatra-availability-calendar-container .yatra-availability-calendar-header .yatra-calendar-booking-indicator-lists li:before {
    content: "";
    display: block;
    width: 50px;
    height: 8px;
    background: #ddd;
    margin: 0 10px;
}


#yatra-availability-calendar .fc-event .fc-event-title.yatra-availability-enquiry {
    background: #008bb5;
}

#yatra-availability-calendar .fc-event .fc-event-title.yatra-availability-none {
    background: #aaa;
}

#yatra-availability-calendar .fc-event .fc-event-title.yatra-inactive-event {
    background: #2f582b;
}

#yatra-availability-calendar .fc-event .fc-event-title.yatra-booking-full {
    background: #e67e22;
    text-align: center;
}

#yatra-availability-calendar .fc-daygrid-day-top {
    justify-content: space-between;
}

#yatra-availability-calendar .fc-daygrid-day-top .yatra-cal-checkbox {
    margin: 5px;
    border: 1px solid #000;
    border-radius: 0;
}

#yatra-availability-calendar .yatra-cal-header-checkbox {
    border-radius: 0;
    float: left;
    margin: 5px;

}

#yatra-admin-popup {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#yatra-admin-popup .yatra-admin-popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
}

#yatra-admin-popup .yatra-admin-popup-content {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    max-width: 900px;
    background: #fff;
    border-radius: 5px;
    z-index: 999;
    overflow: hidden;

}

#yatra-admin-popup .yatra-admin-popup-body {
    min-height: 350px;
    max-height: 75vh;
    overflow-x: auto;
}

#yatra-admin-popup .yatra-admin-popup-footer {
    padding: 10px 20px;
    background: #fff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
}

#yatra-admin-popup .yatra-admin-popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

#yatra-admin-popup .yatra-admin-popup-header-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yatra-admin-popup .yatra-admin-popup-header-title .post-title {
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
}

#yatra-admin-popup .yatra-admin-popup-close {
    cursor: pointer;
    font-size: 30px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-row,
#yatra-admin-popup .yatra-pricing-group-wrap-container .yatra-field-row,
#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-row {
    display: flex;
}

#yatra-admin-popup .yatra-pricing-group-wrap-container input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-date input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="text"],
#yatra-admin-popup .yatra-pricing-group-wrap-container input[type="number"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="number"],
#yatra-admin-popup .yatra-pricing-group-wrap-container select,
#yatra-admin-popup .yatra-pricing-availability-calendar-date select,
#yatra-admin-popup .yatra-pricing-availability-calendar-header select {

    width: 100%;
    max-width: 200px;
    box-shadow: none;
    border: 1px solid #aaa;
    border-radius: 0;
    padding: 4px 12px;
    height: 35px;
    outline: 0;
    border-left: 3px solid #aaa;
    margin-right: 5px;
}

#yatra-admin-popup .yatra-pricing-group-wrap-container label {
    vertical-align: middle;
    padding: 5px 0;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date label {
    font-weight: 700;
    margin-right: 10px;
}

#yatra-admin-popup .yatra-field-wrap {

    width: 25%;

}

#yatra-admin-popup .yatra-pricing-group-wrap-container {

    margin-top: 10px;
}

#yatra-admin-popup fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    background: #f9f9f9;
}

#yatra-admin-popup legend {
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-wrap {
    align-items: center;
    width: 33.33%;
    margin-bottom: 15px;
    display: flex;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-field-row {
    justify-content: space-between;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-row {
    justify-content: space-between;
}


#yatra-admin-popup .yatra-pricing-availability-calendar-header .yatra-tippy-tooltip {
    margin-left: 0;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header label:not(.yatra-switch-control) {
    font-weight: 700;
    margin-right: 5px;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="text"],
#yatra-admin-popup .yatra-pricing-availability-calendar-header select,
#yatra-admin-popup .yatra-pricing-availability-calendar-header input[type="number"] {
    width: 150px;
    display: block;
    max-width: 300px;
}

#yatra-admin-popup .yatra-availability-calendar-pricing-content.yatra-overlay {
    position: relative;
}

#yatra-admin-popup .yatra-availability-calendar-pricing-content.yatra-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
}

#yatra-admin-popup .spinner {
    margin-top: 0px;
}


#yatra-admin-popup form#yatra-availability-calendar-popup-form {
    padding: 0 20px;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading {
    pointer-events: none;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading {
    position: relative;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.loading:before {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
}

#yatra-admin-popup .yatra-avilability-daterange-picker {
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

body.yatra-popup-open {
    overflow-y: hidden;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date {
    margin: 20px 0;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date .yatra-field-wrap {

    width: 100%;
    display: flex;
    align-items: center;
}

#yatra-admin-popup .yatra-pricing-availability-calendar-date select {
    width: 300px;
    max-width: 300px;
}

#yatra-admin-popup .daterangepicker {
    box-shadow: 5px 3px 20px rgb(0 0 0 / 50%);
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.yatra-deactivate-form .yatra-availability-calendar-pricing-content {
    position: relative;
}

#yatra-admin-popup form#yatra-availability-calendar-popup-form.yatra-deactivate-form .yatra-availability-calendar-pricing-content:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    content: "";
}

#yatra-availability-calendar td.yatra-expired-date {
    position: relative;
}

#yatra-availability-calendar td.yatra-expired-date:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 9;
}

#yatra-availability-calendar-wrap {
    max-width: 75%;
    width: 75%;
    float: right;

}

#yatra-availability-calendar {
    height: 800px;
    max-height: 800px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

#yatra-availability-calendar-container .yatra-availability-tour-list-wrap {
    max-width: 25%;
    width: 25%;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
}

#yatra-availability-calendar-container form#yatra-availability-search-form {
    height: 51px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#yatra-availability-calendar-container form#yatra-availability-search-form input {
    min-height: 40px;
    width: 280px;
}

#yatra-availability-calendar-container form#yatra-availability-search-form button {
    min-height: 40px;
    width: 80px;
}

#yatra-availability-calendar-container ul.yatra-availability-tour-lists {
    border-top: 1px solid #ddd;
    margin-top: 0;
}

#yatra-availability-calendar-container .yatra-availability-tour-lists li {
    margin: 0;
    padding: 0 10px;
}

#yatra-availability-calendar-container .yatra-availability-tour-lists li a {

    padding: 10px;
    max-width: 100%;
    display: block;
    text-decoration: none;
    outline: none;

}

#yatra-availability-calendar-container .yatra-availability-calendar-content-body {
    display: flex;
    width: 100%;
}

#yatra-availability-calendar-container .yatra-availability-tour-lists li.active-tour a {
    background: #ccc;
    border: 1px solid #aaa;
}

.yatra-availability-calendar-content-footer {
    padding: 30px;
    text-align: center;
}