#poststuff .yatra-admin-booking-wrap {
    display: flex;
    justify-content: space-between;
    padding-top:20px;

 }

#poststuff .yatra-admin-booking-wrap .yatra-admin-booking-information {

    width: 70%;
    float: left;
    min-height:100px;

}

#poststuff .yatra-admin-booking-wrap .yatra-admin-customer-information {

    width: 28%;
    float: right;
    min-height: 100px;

}

#poststuff .yatra-admin-booking-metabox-wrap .heading {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: #f9f9f9;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#poststuff .yatra-booking-item-summary h2,
#poststuff .yatra-booking-item-price-breakdown h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 0;
}

#poststuff .yatra-booking-item-price-breakdown .yatra-price {
    float: right;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-booking-single-field {
    margin-bottom: 10px;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-admin-head {
    font-weight: 600;
    float: left;
    margin-right: 10px;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-admin-tail {
    display: block;
    overflow: hidden;
    word-break: break-word;
}


#poststuff .yatra-admin-booking-metabox-wrap table {
    width: 100%;
    margin: 0 !important;
    padding: 0;
    margin-bottom: 20px;
    border-collapse: collapse;

}

#poststuff .yatra-admin-booking-metabox-wrap table th,
#poststuff .yatra-admin-booking-metabox-wrap table td {
    border: 1px solid #ccc;
    padding: 10px;
}

#poststuff .yatra-admin-booking-metabox-wrap table th {
    background: #f9f9f9;
}

table.yatra-booking-meta-customer-info tr {
    text-align: center;
}

table.yatra-booking-meta-info tr,
#yatra_booking_details_metabox table tr {
    text-align: center;
}

