#poststuff .yatra-admin-booking-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}

#poststuff .yatra-admin-booking-wrap .yatra-admin-booking-information {

    width: 70%;
    float: left;
    min-height: 100px;

}

#poststuff .yatra-admin-booking-wrap .yatra-admin-customer-information {

    width: 28%;
    float: right;
    min-height: 100px;

}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-booking-detail-item {
    padding: 20px 12px;
    background: #fff;
    border: 1px solid #c3c4c7;
    margin-bottom: 0px;
    margin-top: -1px;
}

#poststuff .yatra-admin-booking-wrap .yatra-admin-booking-information .yatra-admin-booking-metabox-wrap {
    border: none;
    background: none;
}

#poststuff .yatra-admin-booking-wrap .yatra-admin-booking-information .yatra-admin-booking-metabox-wrap .yatra-box-data-content {
    margin: 0;
    padding: 0;
}

#poststuff .yatra-admin-booking-wrap .yatra-admin-booking-information .yatra-admin-booking-metabox-wrap .yatra-box-data-head {
    border: 1px solid #c3c4c7;
}

#poststuff .yatra-admin-booking-metabox-wrap .heading {
    font-size: 15px;
    background: #f9f9f9;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

#poststuff .yatra-booking-item-summary h2,
#poststuff .yatra-booking-item-price-breakdown h2 {
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 0;
}

#poststuff .yatra-booking-item-price-breakdown .yatra-price {
    float: right;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-booking-single-field {
    margin-bottom: 10px;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-admin-head {
    font-weight: 600;
    float: left;
    margin-right: 10px;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-admin-tail {
    display: block;
    overflow: hidden;
    word-break: break-word;
}


#poststuff .yatra-admin-booking-metabox-wrap table {
    width: 100%;
    margin: 0 !important;
    padding: 0;
    margin-bottom: 20px;
    border-collapse: collapse;

}

#poststuff .yatra-admin-booking-metabox-wrap table th,
#poststuff .yatra-admin-booking-metabox-wrap table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center !important;
}

#poststuff .yatra-admin-booking-metabox-wrap h3 {
    margin: 0;
    font-weight: 500;
}

#poststuff .yatra-admin-booking-metabox-wrap h3 a {
    font-size: 13px;
    font-weight: normal;
}

#poststuff .yatra-admin-booking-metabox-wrap table th {
    background: #f9f9f9;
}

#poststuff .yatra-admin-booking-metabox-wrap .yatra-booking-meta-item-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ddd;
    padding: 10px;
    border: 1px solid #aaa;
    font-weight: bold;
}
