.yatra-admin-setting-page-wrap .form-table th {
    width: 250px;
}

.yatra-setting-tab-options ul {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.yatra-setting-tab-options ul li span.label {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.yatra-setting-tab-options ul li span.label:before {
    padding: 10px;
    padding-left: 0;
}

.yatra-setting-tab-options ul li {
    display: flex;
    border: 1px solid #aaa;
    padding: 5px;
    background: #eee;
    cursor: move;
    align-items: center;
}

.yatra-setting-tab-options ul li input,
.yatra-setting-tab-options ul li span {
    flex-grow: 1;
    flex-basis: 0;
}

.yatra-setting-tab-options ul li input {
    padding: 5px 10px;
    border-radius: 0;
    margin: 0 10px;

}

.yatra-setting-tab-options ul li input.icopick {
    cursor: pointer;
}

.yatra-setting-tab-options ul li .available-tab-remove-item {

    border-radius: 100%;
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background: #ddd;
}

.yatra-setting-tab-options ul li .available-tab-remove-item:hover {
    background: #aaa;
}

.yatra-setting-tab-options .yatra-switch-control .slider {
    line-height: 19px;
}