.yatra-dashboard-heading {
    margin: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.yatra-dashboard-heading h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.yatra-dashboard-heading p.version {
    margin: 0;
    background: #686868;
    color: #fff;
    padding: 2px 8px;
    border-radius: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.yatra-row-admin, .yatra-dashboard-wrap {
    display: flex;

}

.yatra-dashboard-wrap .yatra-dashboard-content {
    width: 70%;
}

.yatra-dashboard-wrap .yatra-dashboard-sidebar {
    width: 30%;

}

.yatra-card {
    padding: 0;
    background: #fff;
    border: 1px solid #ccc;
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    min-height: 100px;
}

.yatra-card .yatra-card-header,
.yatra-card .yatra-card-body,
.yatra-card .yatra-card-footer {
    padding: 10px;
    max-width: 100%;
}

.yatra-card .yatra-card-header {
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
}

.yatra-card .yatra-card-body p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    color: #000;
}

.yatra-card .yatra-card-header h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.yatra-card .yatra-card-footer {
    border-top: 1px solid #ccc;
    background: #f9f9f9;
    text-align: right;
}

.yatra-card .yatra-card-footer a {
    font-size: 13px;
}

.yatra-card .yatra-card-body .count {
    height: 50px;
    display: block;
    background: #f9f9f9;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border: 1px solid #ccc;
    font-weight: bold;
}