.yatra-activity-wrap {
  .yatra-activity-item {
    .yatra-item-inner {
      position: relative;
      height: 275px;
      display: inline-block;
      margin: 15px 0;
      background: #ddd;
      width: 100%;
      img, figure {
        vertical-align: top;
        height: 275px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      figure {
        background: #ddd;
      }

      h2,
      h2.activity-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 30px;
        line-height: 1.2em;
        color: #fff;
         font-weight: 600;
        margin: 0;
        padding: 15px;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        text-overflow: ellipsis;
        text-align: center;
      }


      a.yatra-link {
        display: block;
        height: 100%;
        width: 100%;
        background: #f9f9f9;
      }

      &:hover {
        h2.activity-title {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(26, 188, 156, 1) 100%);
          color: #fff
        }
      }
      a:hover {
        color: #fff;
        opacity: 1;
      }
    }

    &:after {
      clear: both;
      content: '';
    }

    &:after {
      content: '';
      display: block;
      clear: both;
      width: 100%;
    }
  }
}