.yatra-discount-deals-wrap {

  .yatra-item-inner {
    position: relative;
    height: 550px;
    padding: 0;
    margin: 0 0 30px;
    display: block;
    box-shadow: 1px 1px 9px 3px rgba(218, 218, 218, 0.5);
    @import "../parts/featured-ribon";
    @import "../parts/price";

    .yatra-tour-price {
      text-align: center;
      position: absolute;
      top: 141px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 10px 0;

      .regular-price {
        color: #aaa;
      }

      .sales-price {
        font-size: 22px;
      }
    }

    img, figure {
      vertical-align: top;
      height: 250px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      max-width: 100%;
    }

    figure {
      background: #ddd;
      margin: 0;
      padding: 0;
    }

    h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 20px;
      font-size: 22px;
      width: 100%;
    }

    h2.yatra-deals-title {


      a {

        font-size: inherit;
        font-weight: 500;

      }

      &:hover {

      }
    }

    .yatra-tour-meta {
      line-height: 1.7;
      display: inline-block;
      padding: 25px 15px;
      border-bottom: 1px solid #ddd;
      background: #f9f9f9;
      width: 100%;


      .icon {
        margin-right: 10px;
        font-style: normal;
      }

      .yatra-cat-links, .yatra-tour-duration {
        line-height: 1.5em;
        padding: 5px 8px;
        margin-bottom: 1px;
        display: block;
        font-size: 14px;
      }
    }

    a.yatra-link {
      display: block;
      height: 100%;
      width: 100%;
      background: #f9f9f9;
    }

    &:hover {
      box-shadow: 1px 1px 9px 3px rgba(218, 218, 218, 0.5);


    }

    .book-now-wrap {
      position: absolute;
      bottom: 20px;
      width: 90%;
      left: 5%;

      a {
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #1abc9c;

        color: #fff;
        display: block;
        text-align: center
      }
    }

  }

  &:after {
    clear: both;
    content: '';
  }

  .yatra-tour-list-item {
    padding: 0 15px;

  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
}
