.yatra-tour-list-wrap {
  .yatra-tour-list-item {
    margin: 0 0 30px 0;
  }

  .yatra-item-inner {
    position: relative;
    padding: 0;
    display: block;
    box-shadow: 0px 0px 0px 1px rgba(218, 218, 218, 0.5);
    padding-bottom: 20px;
    @import "../parts/featured-ribon";
    @import "../parts/price";

    .yatra-tour-price {
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px 0;

      .regular-price {
        color: #aaa;
      }

      .sales-price {
        font-size: 22px;
      }

      p {
        margin: 0;
      }
    }

    img, figure {
      vertical-align: top;
      height: 250px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      max-width: 100%;
    }

    .yatra-figure-wrap {
      position: relative;
    }

    figure {
      background: #ddd;
      margin: 0;
      padding: 0;
      position: relative;
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 22px;
      width: 100%;
      padding: 20px;
    }

    h2.yatra-tour-title {

      a {
        font-size: inherit;
        font-weight: 500;
        text-decoration: none;

      }

      &:hover {
        color: initial;
      }
    }


    &:hover {
      box-shadow: 1px 1px 9px 3px rgba(218, 218, 218, 0.5);


    }

    @import "../parts/tour-meta";

    .yatra-tour-meta {
      line-height: 1.7;
      padding: 25px 15px;
      border-bottom: 1px solid #ddd;
      background: #f9f9f9;
      min-height: 150px;

      .yatra-cat-links, .yatra-tour-duration {
        display: inline-block;
        width: 100%;
      }
    }

    &:hover {
      box-shadow: 0 20px 38px rgba(0, 0, 0, 0.15);


    }

    .yatra-tour-more {
      width: 90%;
      margin-left: 5%;
      
      .yatra-button {
        display: block;
      }
    }

  }

  &:after {
    clear: both;
    content: '';
  }

  .yatra-tour-list-item {
    padding: 0 15px;

  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
}
